{% extends "html\main.html" %}

{% block body %}



<script>
    function getAjaxData()//Тестовая функция для разработки.
    {
        dict = { 'testparam': 'TOOEASY', 'testparamtwo': 'FORARTEEZY' }

        //alert(AjaxPostParamsToStringTransformer(dict));
        sendAjaxRequest('POST', '/ajaxreturn', dict, fillSomething)

    }
    function getAjaxDataTwo()//Тестовая функция для разработки.
    {
        dict = { 'testparam': 'QWE', 'testparamtwo': 'RTY' }

        //alert(AjaxPostParamsToStringTransformer(dict));
        sendAjaxRequest('POST', '/ajaxreturn', dict, fillSomething)

    }
    function fillSomething(response)
    {
        var main = document.getElementById("ajaxtest");
        main.innerHTML = response;
    }

</script>
<input type="button" value="TEST" onclick="getAjaxData();"> 
<input type="button" value="TEST2" onclick="getAjaxDataTwo();"> 

<div id="ajaxtest"></div>
{%endblock%}