{% load staticfiles %}
<html>
<head>

    <link rel="shortcut icon" href="{% static  "img/icon.png"%}">

    <link href={% static "bootstrap/css/bootstrap.min.css" %} rel="stylesheet">
    <link href={% static "bootstrap/css/bootstrap.min.css" %} rel="stylesheet">
    <link href={% static "jquery-select/css/select2.css" %} rel="stylesheet">
    <link href= {% static "individual/css/stylesheet.css" %} rel="stylesheet">
    <link href= {% static "individual/css/clients.css" %} rel="stylesheet">
    <link href= {% static "individual/css/control.css" %} rel="stylesheet">
    <link href= {% static "jquery-pickadate/css/default.css" %} rel="stylesheet">
    <link href= {% static "jquery-pickadate/css/default.date.css" %} rel="stylesheet">
    <link href= {% static "jquery-pickadate/css/default.time.css" %} rel="stylesheet">
    <link href= {% static "bootstrap-datepicker/css/bootstrap-datepicker3.css" %} rel="stylesheet">
    <link href= {% static "bootstrap-toggle/css/bootstrap-toggle.min.css" %} rel="stylesheet">
    <link href= {% static "jquery-spectrum-colorpicker/spectrum.css" %} rel="stylesheet">


    <script src={% static "jquery/jquery.js" %}></script>
    <script src={% static "jquery/jquery.cookie.js" %}></script>
    <script src={% static "bootstrap/js/bootstrap.min.js" %}></script>
    <script src={% static "jquery-select/js/select2.full.js" %}></script>
    <script src={% static "individual/js/scripts.js" %}></script>
    <script src={% static "individual/js/clients.js" %}></script>
    <script src={% static "individual/js/modules/calendar.js" %}></script>
    <script src={% static "individual/js/modules/paginator.js" %}></script>
    <script src={% static "jquery-pickadate/js/legacy.js" %}></script>
    <script src={% static "jquery-pickadate/js/picker.js" %}></script>
    <script src={% static "jquery-pickadate/js/picker.date.js" %}></script>
    <script src={% static "jquery-pickadate/js/picker.time.js" %}></script>
    <script src={% static "jquery-pickadate/js/translations/ru_RU.js" %}></script>
    <script src={% static "bootstrap-datepicker/js/bootstrap-datepicker.js" %}></script>
    <script src={% static "bootstrap-datepicker/js/bootstrap-datepicker.ru.min.js" %}></script>
    <script src={% static "bootstrap-toggle/js/bootstrap-toggle.min.js" %}></script>
    <script src={% static "jquery-spectrum-colorpicker/spectrum.js" %}></script>
    <script src={% static "print-this/print-this.js" %}></script>

    <script>

        var GLOBAL_CURRENT_NOTIFY_STATUS = false;//Текущий статус окна уведомления. true - открыто, false - закрыто.
        var GLOBAL_CURRENT_AJAX_STATUS = true;//Текущий статус ajax запроса. true - completed, false - sended.
        var GLOBAL_CURRENT_AJAX_RESPONSE_STATUS = "NORESPONSE";//Текущий тип ответа сервера. ERROR - ощибка, LOAD - загрузка (sended), SUCCESS - успешно.
        var HAVEDATA = false;
        {% if cities.count > 0 %}
            HAVEDATA = true;
        {% else %}
            HAVEDATA= false;
        {% endif %}
        var csrftoken = $.cookie('csrftoken');
        AddCsrfToAjaxRequest(csrftoken);
        AddErrorAjaxHandler();
    </script>


</head>

<body>
{% csrf_token %}
<div class="navbar navbar-inverse navbar-static-top header-panel">
    <div class="container-fluid">
        <div class="navbar-header">
        </div>
        <div class="navbar-collapse">
            <ul id="addedNavbarElements" class="nav navbar-nav ">
                <li class="dropdown">
                {% if cities.count > 0 or unstandart_load %}
                    {% if choosen_city.id == 0 %}
                        <a id="cityPickerTittle" style="visibility: hidden;" data-id="0" href="#" class="dropdown-toggle"
                           data-toggle="dropdown"><span>Все города</span><b class="caret"></b></a>
                    {% else %}
                        <a id="cityPickerTittle" style="visibility: hidden;" data-id="{{ choosen_city.id }}" href="#" class="dropdown-toggle"
                           data-toggle="dropdown"><span>{{ choosen_city.name }}</span><b class="caret"></b></a>
                    {% endif %}
                    <ul id="cityPickerContainer" class="dropdown-menu">
                        {% if cities.count != 1 %}
                            <li data-id="0" onclick='ChooseCity("0", "Все города", "{{ first_update_not_need }}");'
                                data-val=""><a>Все города</a></li>
                            <li class="divider"></li>
                        {% endif %}
                        {% for city in cities %}
                            <li data-id="{{ city.id }}"><a
                                    onclick='ChooseCity("{{ city.id }}", "{{ city.name }}", "{{ first_update_not_need }}");'>{{ city.name }}</a>
                            </li>
                        {% endfor %}

                    </ul>
                    {% else %}
                    <a id="cityPickerTittle" style="visibility: hidden;" data-id="0" href="#" class="dropdown-toggle" onclick='ShowNotify(3, "Для добавления новых учреждений, обратитесь к администратору", 0, 3000)';
                           data-toggle="dropdown"><span>Нет доступных городов</span></a>
                    {% endif %}

                </li>
                {% if cities.count > 0  or unstandart_load  %}

                <li class="dropdown">
                    {% if choosen_show == 0 %}
                        <a id="showPickerTittle" style="visibility: hidden;" data-id="0" href="#" class="dropdown-toggle"
                           data-toggle="dropdown"><span>Все шоу</span><b class="caret"></b></a>
                    {% else %}
                        <a id="showPickerTittle" style="visibility: hidden;" data-id="{{ choosen_show.id }}" href="#" class="dropdown-toggle"
                           data-toggle="dropdown"><span>{{ choosen_show.name }}</span><b class="caret"></b></a>
                    {% endif %}
                    <ul id="showPickerContainer" class="dropdown-menu">
                    </ul>
                </li>
                <li id="search_panel" style="visibility: hidden;"><a class="search-input"> <form><input id="search_input" class="form-control input-sm"
                                                                      placeholder="Поиск" autocomplete="off"><input type="button" class="search-input-reset" value="x"></form></a></li>
                {% endif %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><span title="Обновить данные страницы" class="glyphicon glyphicon-refresh refresh-button" onclick="if(GLOBAL_CURRENT_AJAX_STATUS) {UpdateData(true);}"></span></li>
                {% if request.user.username == "archy" %}
                    <li>
                        <span title="Исполнить скрипт" class="glyphicon glyphicon-wrench  refresh-button" onclick="RunAdminScript();"></span>
                    </li>
                {% endif %}
                <li>
                    <a
                        {% if request.user.username == "archy" %}
                            class = "admin-user-name user-name" href="/admin" target="_blank"
                        {% endif %}
                        style="color:#9d9d9d; cursor: default;" class="user-name"><strong id="userTypeContainer" data-user_type = "{{ user_type }}" data-large_font = "{{ options.larger_font }}"
                        class="text-primary">{{ currentUser.alias }}</strong></a></li>
                {% if admin_mode %}
                    <li><span title="Включен режим администратора" class="glyphicon glyphicon-eye-open admin-icon"></span></li>
                {% endif %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span
                            class="glyphicon glyphicon-cog text-primary" style="font-size: 17px"></span></a>
                    <ul class="dropdown-menu">
                        <li><a id="mainOptionsButton">Настройки</a></li>
                        <li class="divider"></li>
                        <li class="admin-mode-wrapper"><a><div class="admin-mode-container"><span class="admin-mode-label">Режим администратора</span></div><div id="adminModeToggle" class="admin-mode-toggle-container"></div></a></li>
                        <li><a id="mainCancelButton">Выход</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="navbar navbar-inverse navbar-static-top nav-panel " role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-target="#linksNavbar" data-toggle="collapse" data-target="linksNavbar">
                <span class="sr-only"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse" id="linksNavbar">
            <ul class="nav-list nav navbar-nav nav-justified">
                {% if currentUser.type != "presentator" %}
                    <li class="main-menu-elements-li">
                        <div class="btn-group">
                            <button id="mainMenuClientsButton" onclick='location.href="/clients/"' type="button"
                                    class="btn main-menu-elements-button main-menu-elements-button-not-clicked">
                                Клиенты
                            </button>
                            <button id="mainMenuClientsDropDownButton" type="button"
                                    style="border-left: 1px solid black;"
                                    class="btn dropdown-toggle main-menu-elements-button main-menu-elements-button-not-clicked"
                                    data-toggle="dropdown">
                                <span class="caret"></span><span>&nbsp;</span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#" onclick="EditCompany();">Добавить клиента</a></li>
                                <li class="divider"></li>
                                <li><a href="/full">Полный список</a></li>
                            </ul>
                        </div>
                    </li>
                {% endif %}
                {% if currentUser.type != "presentator" %}
                    <li class="main-menu-elements-li">
                        <button id="mainMenuTasksButton" onclick='location.href="/tasks/"' type="button"
                                class="btn main-menu-elements-button main-menu-elements-button-not-clicked">Задачи
                        </button>
                    </li>
                {% endif %}
                <li class="main-menu-elements-li">
                    <button id="mainMenuEventsButton" onclick='location.href="/events/"' type="button"
                            class="btn main-menu-elements-button main-menu-elements-button-not-clicked">Мероприятия
                    </button>
                </li>
                <li class="main-menu-elements-li">
                    <button id="mainMenuStatsButton" onclick='location.href="/stats"' type="button"
                            class="btn main-menu-elements-button main-menu-elements-button-not-clicked">Статистика
                    </button>
                </li>
                    <li class="main-menu-elements-li">
                        <button id="mainMenuControlButton" onclick='location.href="/control"' type="button"
                                class="btn main-menu-elements-button main-menu-elements-button-not-clicked">Управление
                        </button>
                    </li>
                <li class="main-menu-elements-li">
                    <button id="mainMenuHelpButton" onclick='location.href="/help/"' type="button"
                            class="btn main-menu-elements-button main-menu-elements-button-not-clicked">Помощь
                    </button>
                </li>
            </ul>
        </div>
    </div>
</div>
<span id="pickadatecontainer"></span>
<div id="mainContent" class="container-fluid">
    {% block body %}
        {% block overridemain %}
        {% endblock %}
    {% endblock %}
</div>
<script>
    var search_safe_timeout;
    var search_notify_timeout;

    InitializeOptionsButtonsHandlers("{{ options.logout_request }}");
    InitializeAjaxHandlers();
    ShowChoosePanels();
    //Загрузка текущих значений шоу (ускорение работы)
    {% if cities.count > 0 %}
        {% if not unstandart_load and not start_update_not_need %}
            LoadShowListFromCookies("{{ choosen_city.id }}", "{{ first_update_not_need }}");
        {% endif %}
        AddHandlerToSearchInput("{{ first_update_not_need }}");
    {% endif %}
    HandlersInitialise();
    {% if options.scrolltop_show %}
        InitializeScrollHandler();
    {% endif %}
    UpdateMainMenuButtons("{{ user_type }}");
    //Режим администратора Toggle
    MakeAdminToggle("{{ admin_mode }}");

    $(document).on("update_server_data", function () {
        UpdateData();
    });
    CheckForbiddenAccessTry();

</script>
  </body>
</html>



















