{% load filters %}
    <table border="1" width=100%>
        <tr><td class="header" colspan="2">Общая информация:<p><input type="button" value="Редактировать" onclick="showEditCompanyPanel();"></p></td></tr>
        <tr>
            <td width="8%">Тип: </td>
            <td>{{company.ctype|replacenone}}</td>
        </tr>
        <tr>
            <td width="8%">Название: </td>
            <td>{{company.name|replacenone}}</td>
        </tr>
        <tr>
            <td width="8%">Город: </td>
            <td>{{company.city}}</td>
        </tr>
        <tr>
            <td width="8%">Адрес: </td>
            <td><a id="adressMapsHref"  target="_blank" href="https://yandex.ru/maps/?text={{ company.city }}%20{{ company.adress }}"  style="color:blue;">{{company.adress|replacenone}}</a> </td>
        </tr>
        <tr>
            <td width="8%">Телефон: </td>
            <td>{{company.telephone|replacenone}}</td>
        </tr>
        <tr>
            <td width="8%">Контакты: </td>
            <td>{{company.contacts|replacenone}}</td>
        </tr>
        <tr>
        <td width="8%">Почта: </td>
        <td>{{company.email|replacenone}}</td>
        </tr>
        <tr>
            <td width="8%">Сайт: </td>
            <td>{{company.site|replacenone}}</td>
        </tr>
        <tr>
            <td width="8%">Комментарий: </td>
            <td>{{company.comment|replacenone}}</td>
        </tr>
        <tr>
            <td width="10%">Шоу:</td>
        {% if  is_superuser   %}
             <td>
            <select id="artist" class="value" onchange="UpdateCompanyData();">
                    {%for artist in artists%}
                    {%if artist.id == currentartist.id%}<option selected value="{{artist.id}}">{{artist.name}}</option>
                    {%else%} <option value="{{artist.id}}">{{artist.name}}</option>{%endif%}
                    {%endfor%}
                </select>
             </td>
        {% else %}
            <td>
                <select id="artist" class="value" onchange="UpdateCompanyData();">
                    {%for artist in artists%}
                    {%if artist.show.id == currentartist.id%}<option selected value="{{artist.show.id}}">{{artist.show.name}}</option>
                    {%else%} <option value="{{artist.show.id}}">{{artist.show.name}}</option>{%endif%}
                    {%endfor%}
                </select>
            </td>
        {% endif %}
        </tr>
        {%if last_call%}
        <tr>
            <td class="header" colspan="2">
                Последний звонок:<p>
                    <input type="button" value="Отметить звонок" onclick="showMarkCallPanel();" />
                    &nbsp;
                    <input type="button" value="История звонков" onclick="showCallHistory();" />
                    &nbsp;
                    <input type="button" value="История задач" onclick="showTaskHistory();" />
                </p>
            </td>
        </tr>

        <tr>
            <td width="8%">Дата: </td>

            <td>{{last_call.0.datetime}}</td>


        </tr>

        <tr>
            <td width="8%"> Комментарий  </td>
            <td>{{last_call.0.comment}}</td>



        </tr>
            {% else %}
        <tr>
            <td class="header" colspan="2">
                Последний звонок отсутствует.<p>
                    <input type="button" value="Отметить звонок" onclick="showMarkCallPanel();" />
                    &nbsp;
                    <input type="button" value="История звонков" onclick="showCallHistory();" />
                    &nbsp;
                    <input type="button" value="История задач" onclick="showTaskHistory();" />
                </p>
            </td>
        </tr>

    {%endif%}
    {% if last_event %}
    <tr>
            <td class="header" colspan="2">
                Последнее мероприятие:<p>
            </td>
    </tr>
    <tr>
            <td width="8%">Дата: </td>
            <td>{{last_event.0.startTime}}&nbsp <input type="button" onclick="showEditEventPanel(true, {{ last_event.0.id }}, document.getElementById('artist').value, {{ last_event.0.company.id }});" value="Просмотреть подробности"></td>
    </tr>
    {% else %}
        <tr>
            <td class="header" colspan="2">
                Последнее мероприятие отсутствует.<p>
            </td>
    </tr>
    {% endif %}

    {% if next_event %}
    <tr>
            <td class="header" colspan="2">
                Следующее мероприятие:<p>
            </td>
    </tr>

    <tr>
            <td width="8%">Дата: </td>
            <td>{{next_event.0.startTime}}&nbsp <input type="button" onclick="showEditEventPanel(true, {{ next_event.0.id }}, document.getElementById('artist').value, {{ next_event.0.company.id }});" value="Просмотреть подробности"></td>

    </tr>
    {% else %}
    <tr>
            <td class="header" colspan="2">
                Следующее мероприятие отсутствует.<p>
            </td>
    </tr>
    {% endif %}

    </table>
    <div class="hiddenInputForm" id="editCompanyPanel">
        <table>
            <tr>
                <td width="10%">Тип учреждения: </td>
                <td>
                    <select id="companyEditType" class="value">
                        <option value="ДC" selected>ДС</option>
                        <option value="ШК">ШК</option>
                        <option value="ДК">ДК</option>
                        <option value="ДО">ДО</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Наименование: </td>
                <td><input type="text" id="companyEditName" class="value" value="{{company.name}}"></td>
            </tr>
            <tr>
                <td>Адрес: </td>
                <td><input type="text" id="companyEditAdress" class="value" value="{{company.adress}}"></td>
            </tr>
            <tr>
                <td>Телефон: </td>
                <td><input type="text" id="companyEditTelephone" class="value" value="{{company.telephone}}"></td>
            </tr>
            <tr>
                <td>Контакты: </td>
                <td><input type="text" id="companyEditContacts" class="value" value="{{company.contacts}}"></td>
            </tr>
            <tr>
                <td>Почта: </td>
                <td><textarea id="companyEditEmail" class="value" rows="5">{{company.email}}</textarea></td>
            </tr>
             <tr>
                <td>Сайт: </td>
                <td><input type="text" id="companyEditSite" class="value" value="{{company.site}}"></td>
            </tr>
            <tr>
                <td>Комментарий: </td>
                <td><textarea id="companyEditComment" class="value" rows="5">{{company.comment}}</textarea></td>
            </tr>
        </table>
        <script>
            function fillType() {
                var optionBox = document.getElementById("companyEditType");
                optionBox.value = "{{company.ctype}}";
            }
        </script>
    </div>
    <div class="hiddenInputForm" id="editTaskPanel">
        <table width="100%">
            <tr>
                <td width="10%">Дата: </td>
                <td><input type="date" id="editTaskDate" class="value" value='{{last_task.0.datetime|date:"Y"}}-{{last_task.0.datetime|date:"m"}}-{{last_task.0.datetime|date:"d"}}'></></td>
            </tr>
            <tr>
                <td>Описание: </td>
                <td><input type="text" id="editTaskDescription" class="value" value="{{last_task.0.description}}"></td>
            </tr>
            <tr>
                <td>Комментарий: </td>
                <td><textarea id="editTaskComment" class=" value" rows="5">{{last_task.0.comment}}</textarea> </td>
            </tr>
        </table>

