{% extends "html\companies\!companies.html" %}

{% block showcompanies %}

<style>
    .move{
        font: normal 18px/normal Impact, Charcoal, sans-serif;
        color:#1E90FF;
    }
    .move:hover{
        color:red;
    }
    span.page{

    }
    span.currentPage{
        font: normal 18px/normal Impact, Charcoal, sans-serif;
        color:red;
    }
    span.page:hover{
        cursor: pointer;
        color: #1e90ff;
    }
    tr.header{
        background-color: #1E90FF;
        color:#ffffff;
        text-align: center;
    }
    tr.tableRow:hover{
        cursor: pointer;
        background-color: #36BBCE;

    }
    td{
        border: 1px solid #1E90FF;
    }
    table.list {

        border-spacing: 0px;
        border: solid 1px #1E90FF;
    }
    div.floatedMenu {

        position: fixed;

        top: 50%;
        display: block;
        left: -200px;
        width: 40px;
        height: 95px;
        background-color: #1E90FF;
        color: #ffffff;
        visibility: hidden;
        background: linear-gradient(to top, #1e90ff, #36bbce);
        box-shadow: -1px -0px rgb(50, 190, 206), -1px -1px rgb(30, 144, 255),
        -2px -1px rgb(50, 190, 206), -2px -2px rgb(30, 144, 255),
        -3px -2px rgb(50, 190, 206), -3px -3px rgb(30, 144, 255),
        -4px -3px rgb(50, 190, 206), -4px -4px rgb(30, 144, 255),
        -5px -4px rgb(50, 190, 206), -5px -5px rgb(30, 144, 255),
        -6px -5px rgb(50, 190, 206), -6px -6px rgb(30, 144, 255),
        -7px -6px rgb(50, 190, 206), -7px -7px rgb(30, 144, 255),
        -8px -7px rgb(50, 190, 206), -8px -8px rgb(30, 144, 255);
        transition: 0.2s;
    }
    div.menuElement{

        height: 30px;
        text-align: center;
        border: solid 1px #1E90FF;
        font: normal 18px/normal Impact, Charcoal, sans-serif;
        opacity: 0.6;

        transition: 0.3s;
    }
    div.menuElement:hover{
        text-shadow: 0px 0px 15px rgba(255, 255, 255, 1);
        box-shadow: -0px -0px 56px 2px #1e90ff inset;
        opacity: 1;
        cursor: pointer;
    }
</style>

<select id="citieslist" onchange="FillContent()">
    {% for city in cities %}
        {% if forloop.counter == 1 %}
            <option selected id="{{ city.id }}"  value="{{ city.id }}">{{ city.name }}({{city.count}})</option>
            {% else  %}
            <option id="{{ city.id }}" value="{{ city.id }}">{{ city.name }}({{city.count}})</option>
        {% endif %}

    {% endfor %}
</select>
<select id="artistslist" onchange="FillContent()">
    {% for artist in artists %}
        {% if forloop.counter == 1 %}
            <option selected id="{{ artist.id }}"  value="{{ artist.id }}">{{ artist.name }}</option>
            {% else  %}
            <option id="{{ artist.id }}" value="{{ artist.id }}">{{ artist.name }}</option>
        {% endif %}

    {% endfor %}
</select>
<select id="elementsCount" onchange="FillContent()">
<option value="20">20</option>
<option selected value="30">30</option>
<option value="50">50</option>
<option value="100">100</option>
<option value="150">150</option>
</select>
<input type="text" id="search" oninput="FillContent();">


    <br><br>
    <div align="center"> <label><input type="radio" checked name="radioListMode" value="simple" onchange="FillContent()"> Простой список</label><label><input type="radio" onchange="FillContentForAD()" name="radioListMode" value="AD">Антидубль</label></div>
<div id="modalWindowBackground" ></div>
<div class="modalWindow" id="modalWindow">
    <a class="closecross" onclick="showModalWindow('modalWindow', false, hideDeleteButton);"> &times </a>
    <div class="modalWindowHeader textMiddle" id="modalWindowHeader"></div>
    <div class="textMiddle" id="modalInside"></div>
    <div class="textMiddle">
        <div class="textFooter displayInline">
            <input type="button" value="OK" id="modalWindowOkButton">
            &nbsp;
            <input type="button" value="Удалить" id="modalWindowDeleteButton" class="nonDisplay" />
        </div>
    </div>
</div>
<div id="controlMenu" class="floatedMenu"><div class="menuElement">→M</div><div class="menuElement">←M</div><div class="menuElement" onclick="DeleteCompanies();">✖</div></div>
<div id="content"></div>


<script>
    function GetResponse(response)    {
        document.getElementById("content").innerHTML = response;
        elements = document.getElementsByClassName("move");
        for(i = 0; i < elements.length; i++)
            elements[i].addEventListener("click", stopEvent, false);
    }
    function FillContent(_page)    {
        if(document.getElementById("pages") != null)
            page = _page
        else
            page = 1;
        dict = {
                'cityID': document.getElementById("citieslist").value,
                'artistID': document.getElementById("artistslist").value,
                'elementsCount':document.getElementById("elementsCount").value,
                'search':document.getElementById("search").value,
                'page': page
            }
            sendAjaxRequest('POST', '/getcompaniesdata/', dict, GetResponse, null, CorrectCheckBoxes);
        ChangeMenuVisibility("hidden")
    }
    function FillContentForAD(_page){//Антидубль тут
        if(document.getElementById("pages") != null)
            page = _page
        else
            page = 1;
        dict = {
                'cityID': document.getElementById("citieslist").value,
                'elementsCount':document.getElementById("elementsCount").value,
                'search':document.getElementById("search").value,
                'page': page
            }
            sendAjaxRequest('POST', '/getcompanydataforantidouble/', dict, GetResponse, null, CorrectCheckBoxes);
        ChangeMenuVisibility("hidden")
    }
    function SelectAllCheckBox()    {

        var companyContainer = document.getElementById("content");
        var checkAll = document.getElementById("checkboxSelectAll");
        checkBoxes = companyContainer.getElementsByTagName("input");
        if (checkAll.checked)
        {
            for(var i = 0; i < checkBoxes.length; i++)
            {
                if (checkBoxes[i].type == 'checkbox')
                    checkBoxes[i].checked = true;
            }
            ChangeMenuVisibility("visible");
            //document.getElementById("controlMenu").style.display = "block";
        }
        else
        {
            for (var i = 0; i < checkBoxes.length; i++) {
                if (checkBoxes[i].type == 'checkbox')
                    checkBoxes[i].checked = false;
            }
            ChangeMenuVisibility("hidden");
        //document.getElementById("controlMenu").style.display = "none";
        }

    }
    function SelectCheckBox(id)    {
        var checkBox = document.getElementById(id);
        if (checkBox.checked)
            checkBox.checked = false;
        else
            checkBox.checked = true;

        var companyContainer = document.getElementById("content");
        checkBoxes = companyContainer.getElementsByTagName("input");
        for(var i = 0; i < checkBoxes.length; i++)
        {
            if (checkBoxes[i].type == 'checkbox')
                if(checkBoxes[i].checked)
                {
                    ChangeMenuVisibility("visible");
                    //document.getElementById("controlMenu").style.display = "block";
                    return;
                }

        }
        ChangeMenuVisibility("hidden");
        // document.getElementById("controlMenu").style.display = "none";
    }
    function CorrectCheckBoxes() {

        var companyContainer = document.getElementById("content");
        checkBoxes = companyContainer.getElementsByTagName("input");
        for(var i = 0; i < checkBoxes.length; i++)
        {
            if (checkBoxes[i].type == 'checkbox')
                checkBoxes[i].addEventListener("click", stopEvent, false);
        }

    }
    function ChangeMenuVisibility(visibility)    {
        menu = document.getElementById("controlMenu");
        if(visibility == "visible")
        {
            menu.style.visibility = visibility;
            menu.style.left = "60px";
        }
        else
        {
            menu.style.visibility = visibility;
            menu.style.left = "-200px";
        }



    }
    function stopEvent(event) {

        event.stopPropagation();

        var companyContainer = document.getElementById("content");
        checkBoxes = companyContainer.getElementsByTagName("input");
        for(var i = 0; i < checkBoxes.length; i++)
        {
            if (checkBoxes[i].type == 'checkbox')
                if(checkBoxes[i].checked)
                {
                    ChangeMenuVisibility("visible");
                    //document.getElementById("controlMenu").style.display = "block";
                    return;
                }

        }
        ChangeMenuVisibility("hidden");

    }
    function DeleteCompanies(){

        if(!confirm("Действительно удалить выбранные учреждения?"))
            return;
        fromCompanyContainer = document.getElementById("content");
        var checkBoxes = fromCompanyContainer.getElementsByTagName("input");
        var div;
        var changedList = []
        for (var i = 0; i < checkBoxes.length; i++) {
            if (checkBoxes[i].type == 'checkbox' && checkBoxes[i].checked && checkBoxes[i].id != "checkboxSelectAll")
            {
                changedList.push(checkBoxes[i].getAttribute("data-companyID"));
            }

        }
        for(var i = 0; i < changedList.length; i++)
        {
            element = document.getElementById("tr" + changedList[i]);
            element.parentNode.removeChild(element);
        }
        ChangeMenuVisibility("hidden");
        dict = {
            'changedList': changedList
        }
        sendAjaxRequest('POST', '/deletecompanies/', dict, DeleteCompanyResponse);

    }
    function DeleteCompanyResponse(response){
        FillContent(getElementById("pages").value);
    }
    function goToCompany(adress) {
        adress += "?artist=" + document.getElementById("artistslist").value
        window.open(adress);
    }
</script>

<script>
    FillContent();

</script>



{% endblock %}