{% extends "html\companies\!companies.html" %}

{% block showcompanies %}

<style>
    .move{
        font: normal 18px/normal Impact, Charcoal, sans-serif;
        color:#1E90FF;
    }
    .move:hover{
        color:red;
    }
    span.page{

    }
    span.currentPage{
        font: normal 18px/normal Impact, Charcoal, sans-serif;
        color:red;
    }
    span.page:hover{
        cursor: pointer;
        color: #1e90ff;
    }
    tr.header{
        background-color: #1E90FF;
        color:#ffffff;
        text-align: center;
    }
    tr.tableRow:hover{
        cursor: pointer;
        background-color: #36BBCE;

    }
    td.cell{
        border: 1px solid #1E90FF;
    }
    table.list {

        border-spacing: 0px;
        border: solid 1px #1E90FF;
    }
    div.floatedMenu {

        position: fixed;

        top: 50%;
        display: block;
        left: -200px;
        width: 40px;
        height: 95px;
        background-color: #1E90FF;
        color: #ffffff;
        visibility: hidden;
        background: linear-gradient(to top, #1e90ff, #36bbce);
        box-shadow: -1px -0px rgb(50, 190, 206), -1px -1px rgb(30, 144, 255),
        -2px -1px rgb(50, 190, 206), -2px -2px rgb(30, 144, 255),
        -3px -2px rgb(50, 190, 206), -3px -3px rgb(30, 144, 255),
        -4px -3px rgb(50, 190, 206), -4px -4px rgb(30, 144, 255),
        -5px -4px rgb(50, 190, 206), -5px -5px rgb(30, 144, 255),
        -6px -5px rgb(50, 190, 206), -6px -6px rgb(30, 144, 255),
        -7px -6px rgb(50, 190, 206), -7px -7px rgb(30, 144, 255),
        -8px -7px rgb(50, 190, 206), -8px -8px rgb(30, 144, 255);
        transition: 0.2s;
    }
    div.menuElement{

        height: 30px;
        text-align: center;
        border: solid 1px #1E90FF;
        font: normal 15px/normal Impact, Charcoal, sans-serif;
        opacity: 0.6;

        transition: 0.3s;
    }
    div.menuElement:hover{
        text-shadow: 0px 0px 15px rgba(255, 255, 255, 1);
        box-shadow: -0px -0px 56px 2px #1e90ff inset;
        opacity: 1;
        cursor: pointer;
    }
</style>
<form action="/addcompany/" method="post">
    <input type="submit" value="Добавить клиента">

</form>
    <!--<input type="button" value="TEST" onclick="showEditCompanyPanel();">-->
<select id="citieslist" onchange="FillContent()">
    {% for city in cities %}
        {% if forloop.counter == 1 %}
            <option selected id="{{ city.id }}"  value="{{ city.id }}">{{ city.name }}({{city.count}})</option>
            {% else  %}
            <option id="{{ city.id }}" value="{{ city.id }}">{{ city.name }}({{city.count}})</option>
        {% endif %}

    {% endfor %}
</select>
<select id="artistslist" onchange="FillContent()">
    {% for artist in artists %}
        {% if forloop.counter == 1 %}
            <option selected id="{{ artist.id }}"  value="{{ artist.id }}">{{ artist.name }}</option>
            {% else  %}
            <option id="{{ artist.id }}" value="{{ artist.id }}">{{ artist.name }}</option>
        {% endif %}

    {% endfor %}
</select>
<select id="elementsCount" onchange="FillContent()">
<option value="20">20</option>
<option selected value="30">30</option>
<option value="50">50</option>
<option value="100">100</option>
<option value="150">150</option>
</select>
<input type="text" id="search" placeholder="Поиск" oninput="FillContent();">

    <br><br>
<div id="modalWindowBackground"></div>
<div class="modalWindow" id="modalWindow">
    <a class="closecross" onclick="CloseModalWindow();"> &times </a>
    <div class="modalWindowHeader textMiddle" id="modalWindowHeader"></div>
    <div class="textMiddle" id="modalInside"></div>
    <div class="textMiddle">

    </div>
</div>
    <div class="hiddenInputForm" id="editCompanyPanel">
        <table>
            <tr>
                <td width="10%">Тип учреждения: </td>
                <td>
                    <select id="companyEditType" class="value">
                        <option selected value="ДC" selected>ДС</option>
                        <option value="ШК">ШК</option>
                        <option value="ДК">ДК</option>
                        <option value="ДО">ДО</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Наименование: </td>
                <td><input type="text" id="companyEditName" class="value" value="{{company.name}}"></td>
            </tr>
            <tr>
                <td>Город: </td>
                <td><select id="companyEditCity" class="value">
                        {% for city in allcities %}
                            {% if forloop.counter == 1 %}
                            <option selected value={{ city.id }} selected>{{ city.name }}</option>
                            {% else %}
                            <option value={{ city.id }}>{{ city.name }}</option>
                            {% endif %}
                    {% endfor %}
                    </select></td>
            </tr>
            <tr>
                <td>Адрес: </td>
                <td><input type="text" id="companyEditAdress" class="value" value="{{company.adress}}"></td>
            </tr>
            <tr>
                <td>Телефон: </td>
                <td><input type="text" id="companyEditTelephone" class="value" value="{{company.telephone}}"></td>
            </tr>
            <tr>
                <td>Контакты: </td>
                <td><input type="text" id="companyEditContacts" class="value" value="{{company.contacts}}"></td>
            </tr>
            <tr>
                <td>Почта: </td>
                <td><textarea id="companyEditEmail" class="value" rows="5">{{company.email}}</textarea></td>
            </tr>
             <tr>
                <td>Сайт: </td>
                <td><input type="text" id="companyEditSite" class="value" value="{{company.site}}"></td>
            </tr>
            <tr>
                <td>Комментарий: </td>
                <td><textarea id="companyEditComment" class="value" rows="5">{{company.comment}}</textarea></td>
            </tr>

        <tr><td>
        Возможные мероприятия:
        </td>
        <td>
            {%for artist in allartists%}
            <input type="checkbox" value="{{artist.id}}" name="checks[]">{{artist.name}}
            {%endfor%}
        </td>
        </tr>

        </table>
        <div class="value"><input type="button" value="OK" id="modalWindowOkButton"></div>
        </div>
<div id="controlMenu" class="floatedMenu"><div class="menuElement"></div><div class="menuElement" onclick="getFileData();">→&#9993;</div><div class="menuElement"></div></div>

    <div id="content"></div>


<script>
    function GetResponse(response)    {
        document.getElementById("content").innerHTML = response;
        elements = document.getElementsByClassName("move");
        for(i = 0; i < elements.length; i++)
            elements[i].addEventListener("click", stopEvent, false);
    }
    function FillContent(_page)    {
        if(document.getElementById("pages") != null)
            page = _page
        else
            page = 1;
        dict = {
                'cityID': document.getElementById("citieslist").value,
                'artistID': document.getElementById("artistslist").value,
                'elementsCount':document.getElementById("elementsCount").value,
                'search':document.getElementById("search").value,
                'page': page
            }
            sendAjaxRequest('POST', '/companiesnewdata/', dict, GetResponse, null, CorrectCheckBoxes);
        ChangeMenuVisibility("hidden")
    }
    function SelectAllCheckBox()    {

        var companyContainer = document.getElementById("content");
        var checkAll = document.getElementById("checkboxSelectAll");
        checkBoxes = companyContainer.getElementsByTagName("input");
        if (checkAll.checked)
        {
            for(var i = 0; i < checkBoxes.length; i++)
            {
                if (checkBoxes[i].type == 'checkbox')
                    checkBoxes[i].checked = true;
            }
            ChangeMenuVisibility("visible");
            //document.getElementById("controlMenu").style.display = "block";
        }
        else
        {
            for (var i = 0; i < checkBoxes.length; i++) {
                if (checkBoxes[i].type == 'checkbox')
                    checkBoxes[i].checked = false;
            }
            ChangeMenuVisibility("hidden");
        //document.getElementById("controlMenu").style.display = "none";
        }

    }
    function SelectCheckBox(id)    {
        var checkBox = document.getElementById(id);
        if (checkBox.checked)
            checkBox.checked = false;
        else
            checkBox.checked = true;

        var companyContainer = document.getElementById("content");
        checkBoxes = companyContainer.getElementsByTagName("input");
        for(var i = 0; i < checkBoxes.length; i++)
        {
            if (checkBoxes[i].type == 'checkbox')
                if(checkBoxes[i].checked)
                {
                    ChangeMenuVisibility("visible");
                    //document.getElementById("controlMenu").style.display = "block";
                    return;
                }

        }
        ChangeMenuVisibility("hidden");
        // document.getElementById("controlMenu").style.display = "none";
    }
    function CorrectCheckBoxes() {

        var companyContainer = document.getElementById("content");
        checkBoxes = companyContainer.getElementsByTagName("input");
        for(var i = 0; i < checkBoxes.length; i++)
        {
            if (checkBoxes[i].type == 'checkbox')
                checkBoxes[i].addEventListener("click", stopEvent, false);
        }

    }
    function ChangeMenuVisibility(visibility)    {
        menu = document.getElementById("controlMenu");
        if(visibility == "visible")
        {
            menu.style.visibility = visibility;
            menu.style.left = "60px";
        }
        else
        {
            menu.style.visibility = visibility;
            menu.style.left = "-200px";
        }



    }
    function stopEvent(event) {

        event.stopPropagation();

        var companyContainer = document.getElementById("content");
        checkBoxes = companyContainer.getElementsByTagName("input");
        for(var i = 0; i < checkBoxes.length; i++)
        {
            if (checkBoxes[i].type == 'checkbox')
                if(checkBoxes[i].checked)
                {
                    ChangeMenuVisibility("visible");
                    //document.getElementById("controlMenu").style.display = "block";
                    return;
                }

        }
        ChangeMenuVisibility("hidden");

    }
    function DeleteCompanyResponse(response){
        FillContent(1);
    }
    function goToCompany(adress) {
        adress += "?artist=" + document.getElementById("artistslist").value
        window.open(adress);
    }
    function getFileData(){
        document.getElementById("modalWindowHeader").innerHTML = "Экспорт данных";
        showModalWindow('modalWindow', true);

        sendAjaxRequest('POST', '/choosecompanies/', dict, getAjaxResponseFillModal)
    }
    function getAjaxResponseFillModal(response) {
            var element = document.getElementById("modalInside");
            element.innerHTML = response;
        }
    function CloseModalWindow()    {
        showModalWindow('modalWindow', false);
        SelectAllCheckBox();
    }
    function ChangeExportMode()    {
        if(document.getElementById("selected").checked)
            document.getElementById("exportCities").disabled = true;
        else
            document.getElementById("exportCities").disabled = false;

    }
    function GetCompaniesData(_type){
        if(document.getElementById("selected").checked) {
            var changedList = []
            for (var i = 0; i < checkBoxes.length; i++) {
                if (checkBoxes[i].type == 'checkbox' && checkBoxes[i].checked && checkBoxes[i].id != "checkboxSelectAll") {
                    changedList.push(checkBoxes[i].getAttribute("data-companyID"));
                }
                type = "companies";
                content = changedList;
            }
        }
        else{
            type = "city";
            content = document.getElementById("exportCities").value;
        }
        if(_type != "totext")
        {
            var newF = document.createElement("form");
            newF.action = '/exportmailslisttoexcel/';
            newF.method = 'POST';
            var newH = document.createElement("input");
            newH.name = 'content';
            newH.type = 'hidden';
            newH.value = content
            newF.appendChild(newH);
            newH = document.createElement("input");
            newH.name = 'type';
            newH.type = 'hidden';
            newH.value = type
            newF.appendChild(newH);
            document.getElementsByTagName('body')[0].appendChild(newF);
            newF.submit();
        }
        else{
            var newF = document.createElement("form");
            newF.action = '/getmailslist/';
            newF.method = 'POST';
            var newH = document.createElement("input");
            newH.name = 'content';
            newH.type = 'hidden';
            newH.value = content
            newF.appendChild(newH);
            newH = document.createElement("input");
            newH.name = 'type';
            newH.type = 'hidden';
            newH.value = type
            newF.appendChild(newH);
            document.getElementsByTagName('body')[0].appendChild(newF);
            newF.submit();
        }


    }

    function showEditCompanyPanel() {

            showModalWindow('modalWindow', true);
            var modalHeaderElement = document.getElementById("modalWindowHeader");
            modalHeaderElement.innerHTML = "Добавить компанию";
            var modalElement = document.getElementById("modalInside");
            modalElement.innerHTML = document.getElementById("editCompanyPanel").innerHTML;

            var okButton = document.getElementById("modalWindowOkButton");
            okButton.onclick = addCompany;

        }
    function addCompany() {
            if (document.getElementById("companyEditType").value == "" || document.getElementById("companyEditName").value == "" || document.getElementById("companyEditAdress").value == "") {
                alert("Поля <Тип>, <Название>, <Адрес> должны быть заполнены");
                document.getElementById("companyEditType").setAttribute("style", "border:1px solid red");
                document.getElementById("companyEditName").setAttribute("style", "border:1px solid red");
                document.getElementById("companyEditAdress").setAttribute("style", "border:1px solid red");
                return;
            }
            showModalWindow('modalWindow', false);
            dict = {
                'id': '{{company.id}}',
                'companytype': document.getElementById("companyEditType").value,
                'name': document.getElementById("companyEditName").value,
                'adress': document.getElementById("companyEditAdress").value,
                'city': document.getElementById("companyEditCity").value,
                'telephone': document.getElementById("companyEditTelephone").value,
                'contact': document.getElementById("companyEditContacts").value,
                'comment': document.getElementById("companyEditComment").value,
                'email':document.getElementById("companyEditEmail").value,
                'site':document.getElementById("companyEditSite").value
            }
            sendAjaxRequest('POST', '/savecompany/', dict, getAjaxResponseFillModal)

        }
</script>

<script>
    FillContent();
</script>



{% endblock %}