{% load filters %}
<div class="row">
    {% if last_call.0 %}
        <div class="col-md-2 text-left">
            <span title="Последний звонок: {{ last_call.0.artist.name }}" style="color:{{ last_call.0.artist.color }};'"
                  class="glyphicon glyphicon-earphone icon text-primary inheritanceTextColor"></span><span
                class="text-primary">{{ last_call.0.manager.name }}</span>
        </div>
        <div class="col-md-1 text-left"></div>
        <div class="col-md-3 text-left">
            <span title="{{ last_call.0.datetime|date:"DATETIME_FORMAT" }}"
                  class="text-primary">{{ last_call.0.datetime.date|datecountdown }}</span>

        </div>
        <div class="col-md-4 text-left ">
            <span title="{{ last_call.0.comment }}" class="text-primary">{{ last_call.0.comment|cutter:15 }}</span>
        </div>

    {% else %}
        <div class="col-md-6 text-left">
            <span title="Последний звонок "
                  class="glyphicon glyphicon-earphone icon text-primary text-primary"></span>
            <span title="Отметьте звонок, нажав одну из кнопок добавления справа"
                  class="text-primary">Звонки отсутствуют</span>
        </div>
        <div class="col-md-1 text-left">
            <span class="text-primary"></span>

        </div>
        <div class="col-md-3 text-left ">
            <span class="text-primary"></span>
        </div>
    {% endif %}
    <div style="padding-left:0px;" class="col-md-2 text-right">
        {% if not all_button %}
            {% if last_call.0.datetime.date|datecountdown == "Сегодня" %}
                <span id="mark-call-button" title="Отменить звонок" onclick="markCall();" style="color:#5CB85C"
                      class="glyphicon glyphicon-ok-sign icon-pressed text-primary"></span>

            {% else %}
                <span id="mark-call-button" title="Отметить звонок сегодня" onclick="markCall();"
                      class="glyphicon glyphicon-ok-circle icon-pressed text-primary"></span>
            {% endif %}
        {% endif %}
        <span title="Отметить звонок и добавить задачу"
              class="glyphicon glyphicon-plus icon-pressed text-primary"></span>
        <span title="История" class="glyphicon glyphicon-list icon-pressed text-primary"></span>
    </div>


</div>
<hr class="primary">
<div class="row vcenter">
    {% if last_task.0 %}
        <div class="col-md-10 ">
        <div class="row">
            <div class="col-md-4 text-left">
                        <span style="color:{{ last_task.0.artist.color }}" class="icon"
                              title="Предыдущая задача: {{ last_task.0.artist.name }}">
                            <span class="glyphicon glyphicon-chevron-left text-primary inheritanceTextColor"></span>
                            <span class="glyphicon glyphicon-flag  text-primary inheritanceTextColor"></span>
                        </span>
                <span class="text-primary">{{ last_task.0.manager.name }}</span>
            </div>
            <div class="col-md-2 text-left">
                {% if last_task.0 %}
                    <span title="{{ last_task.0.datetime|date:"DATETIME_FORMAT" }}"
                          class="text-primary">{{ last_task.0.datetime.date|datecountdown }}</span>
                {% else %}
                    <span title="Отметьте звонок, нажав одну из кнопок добавления справа." class="text-primary">Нет следующей задачи</span>
                {% endif %}
            </div>
            <div class="col-md-3 text-left ">
                <span title="{{ last_task.0.description }}" class="text-primary">{{ last_task.0.description|cutter:15 }}</span>
            </div>
            <div class="col-md-1 text-left">
                <span title="Подробнее" class="glyphicon glyphicon-info-sign icon-pressed text-primary"></span>
            </div>
        </div>
    {% else %}
        <div class="col-md-10 ">
        <div class="row">
            <div class="col-md-4 text-lef t">
                        <span class="icon"
                              title="Предыдущая задача">
                            <span class="glyphicon glyphicon-chevron-left text-primary"></span>
                            <span class="glyphicon glyphicon-flag  text-primary"></span>
                        </span>
                <span title="Добавьте задачу, нажав кнопку справа" class="text-primary">Нет предыдущей задачи</span>
            </div>
            <div class="col-md-3 text-left">
            </div>
            <div class="col-md-2 text-right">
            </div>
            <div class="col-md-1 text-right">

            </div>
        </div>
    {% endif %}
<div class="row">
    {% if next_task.0 %}
                            <div class="col-md-4 text-left">
                        <span style="color:{{ next_task.0.artist.color }}" class="icon" title="Следующая задача: {{ next_task.0.artist.name }}">
                            <span   class="glyphicon glyphicon-chevron-right text-primary inheritanceTextColor"></span>
                            <span   class="glyphicon glyphicon-flag  text-primary inheritanceTextColor"></span>

                        </span>
                                <span class="text-primary">{{ next_task.0.manager.name }}</span>
                            </div>
                            <div class="col-md-2 text-left">
                                <span title="{{next_task.0.datetime|date:"DATETIME_FORMAT"}}" class="text-primary">{{ next_task.0.datetime.date|datecountdown }}</span>
                            </div>
                            <div class="col-md-3 text-left">
                                <span title="{{ next_task.0.description }}" class="text-primary">{{ next_task.0.description|cutter:15 }}</span>
                            </div>
                            <div class="col-md-1 text-left">
                                <span title="Подробнее"  class="glyphicon glyphicon-info-sign icon-pressed text-primary"></span>
                            </div>
                        </div>
                    </div>
{% else %}

                            <div class="col-md-4 text-left">
                        <span class="icon" title="Следующая задача">
                            <span   class="glyphicon glyphicon-chevron-right text-primary "></span>
                            <span   class="glyphicon glyphicon-flag  text-primary "></span>
                        </span>
                                <span title="Добавьте задачу, нажав кнопку справа" class="text-primary">Нет следующей задачи</span>
                            </div>
                            <div class="col-md-3 text-left">
                                </div>
                            <div class="col-md-2 text-right">
                                </div>
                            <div class="col-md-1 text-right">
                                </div>
                        </div>
                    </div>
{% endif %}
<div style="padding-left: 0px;" class="col-md-2 text-right">
    <span title="Добавить задачу" class="glyphicon glyphicon-plus icon-pressed text-primary"></span>
    <span title="История" class="glyphicon glyphicon-list icon-pressed text-primary "></span>
</div>
</div>

<hr class="primary">

                <div class="row vcenter">
                    <div class="col-md-10 ">
                        {% if last_event.0 %}
                            <div class="row">
                            <div class="col-md-4 text-left">
                        <span style="color:{{ last_event.0.artist.color }}" class="icon" title="Предыдущее мероприятие: {{ last_event.0.artist.name }}">
                            <span   class="glyphicon glyphicon-chevron-left text-primary inheritanceTextColor"></span>
                            <span   class="glyphicon glyphicon-play-circle  text-primary inheritanceTextColor"></span>
                        </span>
                                <span class="text-primary">{{ last_event.0.manager.name }}</span>
                            </div>
                            <div class="col-md-2 text-left">
                                <span title="{{ last_event.0.startTime|date:"DATETIME_FORMAT"}}" class="text-primary">{{ last_event.0.startTime.date|datecountdown}}</span>
                            </div>
                            <div class="col-md-2 text-left">
                                <span title="Запланировано"  class="glyphicon glyphicon-time icon  text-primary"></span>
                            </div>
                            <div class="col-md-1 text-right">
                                <span title="Подробнее"  class="glyphicon glyphicon-info-sign icon-pressed text-primary"></span>
                            </div>
                        </div>
                            {% else %}
                            <div class="row">
                            <div class="col-md-5 text-left">
                        <span  class="icon" title="Предыдущее мероприятие">
                            <span   class="glyphicon glyphicon-chevron-left text-primary "></span>
                            <span   class="glyphicon glyphicon-play-circle  text-primary "></span>
                        </span>
                                <span class="text-primary">Нет предыдущего мероприятия</span>
                            </div>
                            <div class="col-md-2 text-left">
                                <span class="text-primary">24.05.16</span>
                            </div>
                            <div class="col-md-2 text-center">
                                <span title="Запланировано"  class="glyphicon glyphicon-time icon  text-primary"></span>
                            </div>
                            <div class="col-md-1 text-right">
                                <span title="Подробнее"  class="glyphicon glyphicon-info-sign icon-pressed text-primary"></span>
                            </div>
                        </div>
                        {% endif %}

                        <div class="row">
                            <div class="col-md-5 text-left">
                        <span style="color:red" class="icon" title="Следующее мероприятие">
                            <span    class="glyphicon glyphicon-chevron-right text-primary inheritanceTextColor"></span>
                            <span   class="glyphicon glyphicon-play-circle  text-primary inheritanceTextColor"></span>
                        </span>
                                <span class="text-primary">Нагуманов Артем</span>
                            </div>
                            <div class="col-md-2 text-left">
                                <span class="text-primary">24.05.16</span>
                            </div>
                            <div class="col-md-2 text-center">
                                <span title="Успешно"  class="glyphicon glyphicon-check icon  text-success"></span>
                            </div>
                            <div class="col-md-1 text-right">
                                <span title="Подробнее"  class="glyphicon glyphicon-info-sign icon-pressed text-primary"></span>
                            </div>
                        </div>
                    </div>
                    <div style="padding-left: 0px;" class="col-md-2 text-right" >
                        <span title="Добавить задачу"  class="glyphicon glyphicon-plus icon-pressed text-primary"></span>
                        <span title="История"  class="glyphicon glyphicon-list icon-pressed text-primary"></span>

                    </div>
                </div>