{% extends "html\companies\!companies.html" %}
{% block companypage%}

<style>
    .editPanel {
        position: absolute;
        top: 100px;
        left: -550px;
        width: 500px;
        height: 600px;
        background-color: white;
        opacity: 0.8;
        border-radius: 20px;
        text-align: center;
        box-shadow: 23px 25px 45px 1px #000000;
        visibility: hidden;
        transition: 1s;
        padding-left: 20px;
        padding-top: 20px;
        padding-right: 20px;
    }
    td.header{
        font-weight:900;
        font-size:18px;
        text-align:center;
        column-span:all;
    }
    td.datacell
    {
        font-weight:700;
    }
    
    .value
    {
        width:100%;
    }
</style>

<div class="editPanel" id="editCommentPanel">
    <form name="saveartistcomment" action="/saveartistcomment/" method="post">
        <table>
            <tr>
                <td>Комментарий: </td>
                <td><textarea name="comment" class="value" rows="5"></textarea></td>
            </tr>
        </table>
        <input type="hidden" name="id" value={{event.id}}>
        <input type="submit" value="OK">
        <input type="button" value="Отмена" onclick="closeEditPanel('editCommentPanel');">
    </form>
</div>

<div class="editPanel" id="editEventPanel">
    <form name="editevent" action="/editevent/" method="post">
        <input type="hidden" name="id" value={{event.id}}>
        <table >
            <tr>
                <td width="10%">Начало: </td>
                <td><input type="datetime-local" name="start_time" class="value" required></td>
            </tr>
            <tr>
                <td>
                    Мероприятие:
                </td>
                <td>
                    <select name="artist_name" class="value" required>
                        {% for artist in artists %}
                        <option value="{{artist.id}}">{{artist.name}}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <td>Учреждение:</td>
                <td>
                    <select name="company_id" class="value" required>
                        {% for company in companies %}
                        <option value="{{company.id}}">{{company.city}}:{{company.name}}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <td>Стоимость: </td>
                <td><input type="text" name="price" class="value"></td>
            </tr>
            <tr>
                <td>Процент: </td>
                <td><input type="text" name="percent" class="value"></td>
            </tr>
            <tr>
                <td>Число детей: </td>
                <td><input type="text" name="childCount" class=" value"></td>
            </tr>
            <tr>
                <td>Комментарий менеджера: </td>
                <td><input type="text" name="note" class="value"></td>
            </tr>
        </table>
        <input type="submit" value="OK">
        <input type="button" value="Отмена" onclick="closeEditPanel('editEventPanel');">
    </form>
</div>
<div class="editPanel" id="editCrashPanel">
    <form name="editcrash" action="/editcrash/" method="post">
        <input type="hidden" name="id" value={{event.id}}>
        <table width="100%">
           
            <tr>
                <td width="20%">
                    Причина слета:
                </td>
                
                <td><textarea name="comment" class="value" rows="10" style="resize:none"></textarea></td>
            </tr>
            </table>
        <input type="submit" value="OK">
        <input type="button" value="Отмена" onclick="closeEditPanel('editCrashPanel');">
    </form>
</div>

<table border="2" width=100%>
    <!--<tr>
        <td width="8%">Код в базе: </td>
        <td>{{event.id}}</td>
    </tr>
        -->
    <tr><td class="header" colspan="2">Общая информация:</td></tr>
    <tr>
        <td  width="8%">Время начала: </td>
        <td class="datacell">{{event.startTime}}</td>

    </tr>
    <tr>
        <td width="14%">Шоу: </td>
        <td class="datacell">{{event.artist.name}}</td>
    </tr>
    <tr>
        <td width="8%">Менеджер: </td>
        <td class="datacell">{{event.manager.name}}</td>
    </tr>
    <tr>
    <tr><td class="header" colspan="2">Данные об учреждении:</td></tr>
        <td width="8%">Город: </td>
    <td class="datacell">{{event.company.city}}</td>
    </tr>
    <tr>
        <td width="8%">Адрес: </td>
        <td class="datacell">{{event.company.adress}}</td>
    </tr>
    <tr>
        <td width="8%">Учреждение: </td>
        <td class="datacell"><a href="/company/{{event.company.id}}">{{event.company.name}}</a></td>
    </tr>
    <tr><td class="header" colspan="2">Финансовая информация:</td></tr>
    <tr>
        <td width="8%">Стоимость: </td>
        <td class="datacell">{{event.price}}</td>

    </tr>
    <tr>
        <td width="8%">Процент: </td>
        <td class="datacell">{{event.percent}}</td>

    </tr>
    <tr>
        <td width="8%">Число детей: </td>
        <td class="datacell">{{event.childCount}}</td>

    </tr> 
    <tr><td class="header" colspan="2">Комментарии:</td></tr>
    <tr>
        <td width="8%">Комментарий менеджера: </td>
        <td class="datacell">{{event.note}}</td>

    </tr>
    <td width="8%">Комментарий артиста: </td>
    {%if event.artistNote %}
    <td class="datacell">{{event.artistNote}}</td>
    {%else%}
    <td></td>
    {%endif%}
    <!--<tr>
        <td width="8%">Заметка филиала: </td>
        <td>{{event.companyNote}}</td>
    </tr>
    -->
    <!--{%if event.attentionCallWeekBool %}
    <tr>
        <td width="8%">Позвонить за неделю?: </td>
        <td>+</td>

    </tr>
    {%else%}
    <tr>
        <td width="8%">Позвонить за неделю?: </td>
        <td>-</td>

    </tr>
        
    {%endif%}
    <tr>
        <td width="8%">Позвонить за неделю, коммент: </td>
        <td>{{event.attentionCall}}</td>

    </tr>
    {%if event.attentionCallDayBool %}
    <tr>
        <td width="8%">Позвонить за день?: </td>
        <td>+</td>

    </tr>
    {%else%}
    <tr>
        <td width="8%">Позвонить за день?: </td>
        <td>-</td>

    </tr>
    {%endif%}-->
    {%if event.crashBool %}
    <tr><td class="header" colspan="2"><font color="red">СЛЕТ:</font></td></tr>    
    <tr style="border:4px solid red">
        <td width="8%">Причина отказа: </td>
        <td>{{event.crash}}</td>

    </tr>
    {%else%}
    
    {%endif%}
    
    
    
</table>
    {%if not is_manager%}
        <input type="button" name="editButton" value="Добавить комментарий" onclick="openEditPanel('editCommentPanel')">
    {%else%}
<form name="deleteevent" action="/deleteevent/" method="post">
    <input type="hidden" name="id" value={{event.id}}>
</form>
<table>
    <tr><td><input type="button" name="editButton" value="Редактировать" onclick="openEditPanel('editEventPanel')"></td>
    <td> <input type="button" onclick="DeleteConfirm()" name="deleteButton" value="Удалить">
</td>
    <td><input type="button" name="crashButton" value="Слёт мероприятия" onclick="openEditPanel('editCrashPanel')"></td></tr>
</table>
    
    {%endif%}
    
<!--<input type="text" name="example" list="exampleList">
<datalist id="exampleList">
    <option value="Test1">
    <option value="Test2">
    <option value="Terrato">
</datalist>
    -->
<hr>


<script>
    function openEditPanel(panelID) {
        var tasksPanel = document.getElementById(panelID);
        if (tasksPanel.style.visibility != "visible") {
            tasksPanel.style.visibility = "visible";
            tasksPanel.style.left = "20px";
        }




    }
    function closeEditPanel(panelID) {
        var tasksPanel = document.getElementById(panelID);
        tasksPanel.style.left = "-550px";
        tasksPanel.style.visibility = "hidden";
    }
    function fillData() {
        var formElement = document.forms.editevent.start_time;
        formElement.value = "{{event.startTime|date:"Y-m-d\TH:i:s"}}"; //2014-01-02T11:42:13

        formElement = document.forms.editevent.artist_name;
        formElement.value = "{{event.artist.id}}";

        formElement = document.forms.editevent.company_id;
        formElement.value = "{{event.company.id}}";

        formElement = document.forms.editevent.price;
        formElement.value = "{{event.price}}";

        formElement = document.forms.editevent.percent;
        formElement.value = "{{event.percent}}";

        formElement = document.forms.editevent.childCount;  
        {%if event.childCount%}              
        formElement.value = "{{event.childCount}}";
        {%else%}
        formElement.value = 0;
        {%endif%}
        formElement = document.forms.editevent.note;
        formElement.value = "{{event.note}}";
    }    
    function DeleteConfirm()
    {
        if(confirm("Вы уверены что хотите удалить мероприятие?"))
            document.forms.deleteevent.submit();
    }
</script>

<script>
    fillData();
</script>
{%endblock%}