{% extends "html\events\!events.html" %}

{% block showevents %} 

<style>
	table { 
    		
		table-layout: fixed;
		width: 100%; /* Ширина таблицы */
    		border-spacing: 0; /* Расстояние между ячейками */
   		}
   		tr:hover
        {
               cursor:pointer;
               background:#ffac00;
   		}
		td{
		empty-cells:show;
		}
   		tr:nth-child(1) {
    		background: #666; /* Цвет фона */
    		color: #fff;  /*Цвет текста */
		
   	} 
 </style>	

	<hr>
	<table border="1">
		<tr>
    		<td width = "15%">Название учреждения</td>
            <td width = "10%">Город</td>
            <td> Мероприятие</td>
            <td>Дата </td>
  		</tr>


	{% for event in events %}
		
        <tr onclick='location.href="/event/{{event.id}}"'>
            
            <td>{{event.company.name}} </td>
            <td width="8%">{{event.company.city}} </td>
            <td>{{event.artist.name}} </td>
            <td>{{event.startTime}} </td>
        </tr>
	{%endfor%}
	</table>



			{% if events.has_previous %}
	                    <a href="/showevents/page/{{ events.previous_page_number }}/">>&laquo</a>
	                {% else %}
	                   <a href="">&laquo;</a>
	                {% endif %}
	                {% for page in events.paginator.page_range %}
	                    {% if page == events.number %}
	                        <a href="/showevents/page/{{ page }}/">{{ page }}</a>
	                    {% else %}
	                        <a href="/showevents/page/{{ page }}/">{{ page }}</a>
	                    {% endif %}
	                {% endfor %}
	                {% if events.has_next %}
	                    <a href="/showevents/page/{{ events.next_page_number }}/">>&raquo;</a></li>
	                {% else %}
	                   <a href="">&raquo;</a>
	                {% endif %}


{%endblock%}