{% extends "html\tasks\!tasks.html" %}
{% block addtask %}

<style>
    .value
    {
        width:70%;
    }
</style>
<form action="/savetask/" method="post" name="savetask">
    <table>        
        <tr>
            <td>Учреждение:</td>
            <td>
                <select name="company_name" class="value" required>
                    {% for company in companies %}
                    <option value="{{company.id}}">{{company.city}}:{{company.name}}</option>
                    {% endfor %}
                </select>
            </td>
        </tr>
        <tr>
            <td>Дата: </td>
            <td><input type="datetime-local" name="start_time" class="value"></td>
        </tr>
        <tr>
            <td>Описание: </td>
            <td><input type="text" name="note" class="value" required></td>
        </tr>
        <!--<tr>
            <td>Комментарий: </td>
            <td><input type="text" name="comment"></td>
        </tr>
            -->
        <tr>
            <td>Комментарий: </td>
            <td><textarea name="comment" class="value" rows="5"></textarea> </td>
        </tr>
        

    </table>
    <input type="submit" value="Добавить задачу">



</form>
<script>
    FillDateTimeAtPage();
    ChooseCompany();
    function FormatDateTimeString(date) {//Функция преобразует дату из формата javascript в формат html.datetime
        var year = date.getFullYear();
        var month = (date.getMonth() + 1).toString();
        var day = (date.getDate()).toString();
        var hour = date.getHours().toString();
        var minute = date.getMinutes().toString();

        if (month.length == 1)
            month = "0" + month;
        if (day.length == 1)
            day = "0" + day;
        if (hour.length == 1)
            hour = "0" + hour;
        if (minute.length == 1)
            minute = "0" + minute;
        var convertedDateTimeString = year + "-" + month + "-" + day + "T" + hour + ":" + minute;
        return convertedDateTimeString;
    }
    function FillDateTimeAtPage() { //Функция выставляет дату в элементе datetime в сегодняшнее значение
        var today = new Date();
        today.setHours(0, 0);
        var calendar = document.all.savetask.start_time;
        calendar.value = FormatDateTimeString(today);
        //"2015-05-05T02:51" - Формат строки

    }
    function ChooseCompany() {
        var optionBox = document.all.savetask.company_name;
        optionBox.value = "{{company.id}}";

    }

</script>

{% endblock %}