{% extends "html\tasks\!tasks.html" %}

{% block showtasks %} 
{% load filters %}

<style>
    .pressedButton{
        display: inline-block;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    cursor: pointer;
    padding: 10px 20px;
    border: 1px solid #018dc4;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    font: normal 14px/normal "Comic Sans MS", cursive, sans-serif;
    color: rgba(255,255,255,0.9);
    text-align: center;
    -o-text-overflow: clip;
    text-overflow: clip;
    background: #0739ef;
    -webkit-box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) ;
    box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) ;
    text-shadow: -1px -1px 0 rgba(15,73,168,0.66) ;
    -webkit-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
        border: 2px solid #0800ff;
    margin-right:10px;
    }

    .unpressedButton{
     display: inline-block;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    cursor: pointer;
    padding: 10px 20px;
    border: 1px solid #018dc4;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    font: normal 14px/normal "Comic Sans MS", cursive, sans-serif;
    color: rgba(255,255,255,0.9);
    text-align: center;
    -o-text-overflow: clip;
    text-overflow: clip;
    background: #36BBCE;
    -webkit-box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) ;
    box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) ;
    text-shadow: -1px -1px 0 rgba(15,73,168,0.66) ;
    -webkit-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);    
    margin-right:10px;
    }
    .unpressedButton:hover {
        border: 2px solid #0800ff;
        -webkit-transition: all 100ms cubic-bezier(0.42, 0, 0.58, 1);
        -moz-transition: all 100ms cubic-bezier(0.42, 0, 0.58, 1);
        -o-transition: all 100ms cubic-bezier(0.42, 0, 0.58, 1);
        transition: all 100ms cubic-bezier(0.42, 0, 0.58, 1);                
    }
    .buttonGoToCompany{
    visibility:hidden;
     display: inline-block;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    cursor: pointer;
    padding: 5px 5px;
    border: 1px solid #018dc4;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    font: 13px/1 "Comic Sans MS", cursive, sans-serif;
    color: rgba(255,255,255,0.9);
    text-align: center;
    -o-text-overflow: clip;
    text-overflow: clip;
    background: #36BBCE;
    -webkit-box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) ;
    box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) ;
    text-shadow: -1px -1px 0 rgba(15,73,168,0.66) ;
    }
    .buttonGoToCompany:hover{
        border: 2px solid #0800ff;
        -webkit-transition: all 100ms cubic-bezier(0.42, 0, 0.58, 1);
        -moz-transition: all 100ms cubic-bezier(0.42, 0, 0.58, 1);
        -o-transition: all 100ms cubic-bezier(0.42, 0, 0.58, 1);
        transition: all 100ms cubic-bezier(0.42, 0, 0.58, 1);   
    }
    .header{
       width:450px;
       margin:auto;
       -moz-user-select: none;
       -webkit-user-select: none;
    }
    #content{
        width:90%;        
        margin:auto;
        background-color:#f1f1f1;
        border-radius:7px 7px;
        padding-left:20px;
        padding-right:20px;
        padding-top:5px;
        padding-bottom:10px;
        margin-top:20px;
    }
    .taskHeader{
        font: bold 14px/normal "Comic Sans MS", cursive, sans-serif;
        padding-top:7px;
        padding-bottom:7px;
        
    }
    .executedTask{
        text-decoration: line-through;
        font: bold 14px/normal "Comic Sans MS", cursive, sans-serif;
        color:rgba(86,82,82,1);
        padding-top:7px;
        padding-bottom:7px;
    }
    .executedTask:hover{
        cursor:pointer;
        background-color:aqua;
    }
    .taskHeader:hover{
        cursor:pointer;
        background-color:aqua;

    }
    tr.taskHeader{
        font: bold 14px/normal "Comic Sans MS", cursive, sans-serif;
        padding-top:7px;
        padding-bottom:7px;
        
        
        
    }
    tr.taskHeader:hover{
        cursor:pointer;
        background-color:aqua;
        
    }
    table{
        border-spacing:0px;
    }
    .taskText{
        padding-left:15px;
        display:none;
        font: normal 12px/normal "Comic Sans MS", sans-serif;
        
    }
    .headerL
    {
        text-align:center; 
        font: normal 22px/normal Impact, Charcoal, sans-serif;
        color:#36BBCE;
    }
    .headerM
    {
        text-align:center; 
        font: normal 18px/normal Impact, Charcoal, sans-serif;
        color:#36BBCE;
    }

    .calendarArrow-right {
        width: 0;
        height: 0;
        border: 12px solid transparent;
        border-left-color: #36BBCE;
        border-right: 0;
        display: inline-block;
        margin-left: 7px;
        -webkit-user-select: none;
        -moz-user-select: none;
    }

        .calendarArrow-right:hover {
            cursor: pointer;
            border-left-color: red;
        }

    .calendarArrow-left {
        width: 0;
        height: 0;
        border: 12px solid transparent;
        border-right-color: #36BBCE;
        border-left: 0;
        display: inline-block;
        margin-right: 7px;
        -webkit-user-select: none;
        -moz-user-select: none;
    }

    .calendarArrow-left:hover {
            cursor: pointer;
            border-right-color: red;
        }

    .calendarCircle {
        width: 80px;
        height: 80px;
        background: #36BBCE;
        -moz-border-radius: 50px;
        -webkit-border-radius: 50px;
        border-radius: 50px;
        padding-top: 10px;
        padding-left: 10px;
        -webkit-user-select: none;
        -moz-user-select: none;
    }

        .calendarCircle:hover {
            cursor: pointer;
            background: red;
        }
        #calendarMonthName {
        color: #1E90FF;
        position: center;
    }

    #calendarCity {
        font-family: Arial;
        font-size: 90%;
        font-weight: 300;
        float: none;
        color: #1E90FF;
    }
</style>

<div class="header"><div onclick="ChooseMode('today');" id="today" class="pressedButton">Сегодня</div><!--<div onclick="ChooseMode('calendar');" id="calendar" class="unpressedButton">Календарь</div>--><div onclick="    ChooseMode('all');" id="all" class="unpressedButton">Список</div></div>

    <p style="visibility: hidden" id="showDoneSelector" align="center"><label name="doneTasks"><input onchange="ChooseMode('all', 1);" type="checkbox" name="doneTasks" id="doneTasksShowCheckBox"  > Отображать выполненные</label>
</p>
    <div id="content"></div>

<script>
    function ChooseMode(id, page) {


        oldPressedElement = document.getElementsByClassName("pressedButton");
        oldPressedElement[0].className = "unpressedButton";
        newPressedElement = document.getElementById(id);
        newPressedElement.className = "pressedButton";
        WaitResponse();
        if(id == "today")
        {
            document.getElementById("showDoneSelector").setAttribute("style", "visibility:hidden;")
            dict = {};
            sendAjaxRequest('POST', '/ajaxgettodaytasks/', dict, FillContent);
        }
        else if(id == "all")
        {
            document.getElementById("showDoneSelector").removeAttribute("style");

            if(document.getElementById("doneTasksShowCheckBox").checked)
                doneTasksShowCheckBoxValue = "True";
            else
                doneTasksShowCheckBoxValue = "False";
            dict = {'page':page, 'doneTasksShowCheckBox':doneTasksShowCheckBoxValue};
            sendAjaxRequest('POST', '/ajaxgettaskslist/', dict, FillContent);
        }
    }
    function FillContent(response)    {
        content = document.getElementById("content");
        content.innerHTML = response;

        CorrectButtons();
    }
    function getResponse(response)    {
        return response;
    }
    function WaitResponse()    {
        content = document.getElementById("content");
        content.innerHTML = "Данные загружаются, пожалуйста подождите...";
    }
    function ShowHideTaskText(id)    {
        element = document.getElementById(id);
        if (element.style.getPropertyValue("display") == "none" || element.style.getPropertyValue("display") == "") {
            element.style.setProperty("display", "block")

        }
        else {
            element.style.setProperty("display", "none");
        }
    }
    function ShowButton(elementId) {
        var button = document.getElementById(elementId);
        button.style.visibility = "visible";
    }
    function HideButton(elementId) {
        document.getElementById(elementId).style.visibility = "hidden";
    }
    function DoneTask(elementId, taskId){
        var checkBox = document.getElementById("check"+elementId);
        var tr = document.getElementById("tr" + elementId);
        if (checkBox.checked)
        {
            checkBox.checked = false;
            tr.classList.remove("executedTask");
            tr.classList.add("taskHeader");
            sendAjaxRequest('POST', '/ajaxchangetaskstatus/', { action: 'deactivate', taskId: taskId }, getResponse);
            
        }
        else
        {
            tr.classList.remove("taskHeader");
            tr.classList.add("executedTask");
            sendAjaxRequest('POST', '/ajaxchangetaskstatus/', { action: 'activate', taskId: taskId }, getResponse);
            checkBox.checked = true;
        }
            
        
    }
    function DoneCall(elementId, eventId, type) {
        var checkBox = document.getElementById("check" + elementId);
        var tr = document.getElementById("tr" + elementId);
        if (checkBox.checked) {
            checkBox.checked = false;
            tr.classList.remove("executedTask");
            tr.classList.add("taskHeader");
            sendAjaxRequest('POST', '/ajaxchangecallstatus/', { action: 'deactivate', eventId: eventId, type: type }, getResponse);

        }
        else {
            tr.classList.remove("taskHeader");
            tr.classList.add("executedTask");
            sendAjaxRequest('POST', '/ajaxchangecallstatus/', { action: 'activate', eventId: eventId, type: type }, getResponse);
            checkBox.checked = true;
        }
    }
    function stopEvent(event) {

        event.stopPropagation();

    }
    function CorrectCheckBox(element) {
        document.getElementById(element).addEventListener("click", stopEvent, false);
    }
    function CorrectButtons()    {
        elements = document.getElementsByClassName("buttonGoToCompany");
        for(i = 0; i < elements.length; i++)
            elements[i].addEventListener("click", stopEvent, false);
    }
    function goToCompany(adress, element) {        
        window.open(adress);
    }
    function DayBack()
    {
    }
</script>
<script>
    ChooseMode("today");
</script>
{%endblock%}