{% extends "html\tasks\!tasks.html" %}

{% block showtasks %} 

<style>
	table { 
    		
		table-layout: fixed;
		width: 100%; /* Ширина таблицы */
    		border-spacing: 0; /* Расстояние между ячейками */
   		}   		
		
    td{
		empty-cells:show;
		}
   		
    tr:nth-child(1) {
    		background: #666; /* Цвет фона */
    		color: #fff;  /*Цвет текста */		
   	} 
    tr:nth-child(1):hover
    {
        cursor:auto;
        background-color:#666;
    }
    tr:hover
    {
        cursor:pointer;
        background-color:#ffac00;
    }
    tr.overdueTasks{
        empty-cells:show;
        background-color:red;       
    }
    tr.overdueTasks:hover
    {
        cursor:pointer;
        background-color:#ffac00;
    }
    tr.DoneTasks{
        empty-cells:show;
        background-color:green;
               
    }
    tr.DoneTasks:hover
    {
        cursor:pointer;
        background-color:#ffac00;
    }
    tr.PendingTasks{
        empty-cells:show;
        background-color:yellow;
               
    }
    tr.PendingTasks:hover
    {
        cursor:pointer;
        background-color:#ffac00;
    }
    tr.Performed{
        empty-cells:show;
        background-color:#00ffc8;
               
    }
    tr.Performed:hover
    {
        cursor:pointer;
        background-color:#ffac00;
    }
 </style>	
	<hr>
	<table border="1" id="taskTable">
    <tr>
        <td width="15%">Название учреждения</td>
        <td width="10%">Город</td>
        <td>Задача</td>
        <td>Дата </td>
        <td>Статус </td>
    </tr>


    

    

</table>



			{% if tasks.has_previous %}
	                    <a href="/showtasks/page/{{ tasks.previous_page_number }}/">&laquo</a>
	                {% else %}
	                   <a href="">&laquo;</a>
	                {% endif %}
	                {% for page in tasks.paginator.page_range %}
	                    {% if page == tasks.number %}
	                        <a href="/showtasks/page/{{ page }}/">{{ page }}</a>
	                    {% else %}
	                        <a href="/showtasks/page/{{ page }}/">{{ page }}</a>
	                    {% endif %}
	                {% endfor %}
	                {% if tasks.has_next %}
	                    <a href="/showtasks/page/{{ tasks.next_page_number }}/">&raquo;</a></li>
	                {% else %}
	                   <a href="">&raquo;</a>
	                {% endif %}


    
    <script>
        function FillTaskTable()
        {          
            var currentDate = new Date();
            var table = document.getElementById("taskTable");
            var status = 0;
            {% for task in tasks %}
            var trElement = document.createElement("tr");
            trElement.setAttribute('onclick', "window.open('/company/{{task.company.id}}/');");
            
            var  tdElementName = document.createElement("td");
            var  tdElementCity = document.createElement("td");
            var  tdElementComment = document.createElement("td");
            var  tdElementDateTime = document.createElement("td");
            var  tdElementStatus = document.createElement("td");

            status = CheckDate("{{task.datetime|date:"d"}}", "{{task.datetime|date:"m"}}", "{{task.datetime|date:"Y"}}");    
            if("{{task.status}}" == "False")
            {
                trElement.setAttribute('class', 'Performed');
                tdElementStatus.innerHTML = "Выполнено";   
            }
            else
            {
                if(status == 0)
                {
                    trElement.setAttribute('class', 'DoneTasks');
                    tdElementStatus.innerHTML = "Сегодня";                
                }                
                else if(status == -1)
                {                
                    trElement.setAttribute('class', 'overdueTasks');
                    tdElementStatus.innerHTML = "Просрочено";                
                }
                else 
                {
                    trElement.setAttribute('class', 'PendingTasks');
                    tdElementStatus.innerHTML = "Актуально";                
                }
            }
            
                

            tdElementName.innerHTML = "{{task.company.name}}";
            trElement.appendChild(tdElementName);
            tdElementCity.innerHTML = "{{task.company.city}}";
            trElement.appendChild(tdElementCity);
            tdElementComment.innerHTML = "{{task.description}}";
            trElement.appendChild(tdElementComment);            
            tdElementDateTime.innerHTML = "{{task.datetime}}";
            trElement.appendChild(tdElementDateTime);
            trElement.appendChild(tdElementStatus);
            table.appendChild(trElement);
            {%endfor%}
        }
        function CheckDate(day, month, year)
        {
            day = +day;
            month = +month;
            year = +year;
            var currentDate = new Date();
            if(year == currentDate.getFullYear())
            {
                if(month == currentDate.getMonth() + 1)
                {                   
                    if(day == currentDate.getDate())
                        return 0;
                    else if(day < currentDate.getDate())
                        return -1;
                    else
                        return 1;
                }
                else if (month < currentDate.getMonth() + 1)
                    return -1;
                else
                    return 1;

            }
            else if (year < currentDate.getFullYear())
                return -1;
            else
                return 1;
        }
    </script>
<script>
    FillTaskTable();
</script>

{%endblock%}