/*HEADERS*/
.medium-info-header{
    font-weight: bold;
    font-size: large;
    color: #337ab7;
    margin-top: 5px;
    margin-bottom: 5px;
    user-select: none;
    cursor: default;
}
.admin-user-name{
    cursor: pointer !important;
}
.admin-user-name:hover{
    background-color: white !important;
    border-radius: 7px;
}
.full-list-control-button{
    margin-right: 25px;
    margin-bottom: 5px
}
.admin-icon{
    padding-top: 15px;
    color: #5cb85c;
    font-size: large;
    margin-left: 2px;
    margin-right: 2px;
}
/*Background Cover*/
.background-cover{
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    opacity: 0;
    background-color: white;
}
/*Main Page*/
.main-menu-elements-li {
    text-align: center;
}
.main-menu-elements-button {
    font-weight: bold;
    padding-top: 3px;
    padding-bottom: 3px;

}
.main-menu-elements-button:hover {
    background-color: #080808;
    color: #ffffff;
    box-shadow: 0px 0px 35px rgba(0, 0, 0, 1);
}
.main-menu-elements-button-not-clicked {
    background-color: #08192d;
    color: #9d9d9d;
    transition: 0.5s;
}
.main-menu-elements-button-clicked {
    color: black;
    background-color: #ffffff;
    box-shadow: 0px 0px 35px rgba(255, 255, 255, 1);

}
.header-panel {
    background-color: #08192d;
    margin-bottom: 0px;
    padding-left: 10px;
    padding-right: 10px;
}
.nav-panel {
    background-color: #08192d;
    min-height: 0px;
    height: auto;
}
.navbar-static-top {
    z-index: auto;
}
ul.dropdown-menu > li > a:hover {
    cursor: pointer;
}
.user-name {
    font-size: 17px;
}
.user-name:hover {
    cursor: text;
}
.nav-list > li {
    float: none;
}
.search-input {
    width: 100%;
}
.search-input-reset{
    position: absolute;
    right: 20px;
    top: 17px;
    color: #337ab7;
}
li.admin-mode-wrapper{
    width: 320px;
}
div.admin-mode-container{
    float: left;
}
span.admin-mode-label{
    display: table-cell;
    vertical-align: middle;
    height: 35px;
}
div.admin-mode-toggle-container{
    float: left;
}
.refresh-button{
    padding: 8px;
    color: #337ab7;
    font-size: small;
    margin-left: 2px;
    margin-right: 2px;
    background-color: white;
    border-radius: 20px;
    margin-top: 7px;
    cursor: pointer;
    -webkit-transition: -webkit-transform .8s ease-in-out;
          transition:         transform .8s ease-in-out;
}
.refresh-button:hover{
    -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}
/**/
.vertical-line{
    border-left: 3px solid #eeeeee;
    top: 0;
}

/*CALENDAR*/
#calendarHeader {
    position: relative;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
    margin: 0 auto;
    margin-bottom: 10px;
    width: 85%;
    background-color: #337ab7;
    border: 1px solid #337ab7;
    border-radius: 5px;
}

.oldcal-show_in_table-table_decoration {
    width: 100%;
    table-layout: fixed;
    font-size: inherit;
    color: inherit;
    opacity: 1;
}

.oldcal-show_in_table-icon_container_decoration {
    border-right: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
    width: 18px;
    padding-right: 3px;
    padding-bottom: 3px;
    padding-top: 1px;
}

.oldcal-show_in_table-icon_decoration {
    border-radius: 7px;
    font-size: 13px;
    transition: 0.3s;

}

.oldcal-show_in_table-content_container_decoration {
    padding-top: 2px;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    padding-left: 3px;
    transition: 0.3s;
}

.oldcal-show_in_table-time_container_decoration {
    text-align: center;
    border-bottom: 1px solid #ffffff;
    font-weight: bold;
    font-size: 11px;
    transition: 0.3s;
}

.oldcal-show_in_table-container_decoration {
    font-size: 10px;
    font-weight: bold;
    margin-left: 22px;
    margin-bottom: 3px;
    padding: 2px;
    border-radius: 5px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    user-select: none;
    cursor: pointer;
    transition: 0.3s;
    position: relative;
    z-index: 1000;

}

.oldcal-show_in_table-container_decoration:hover {
    background-color: #337ab7 !important;
    opacity: 1 !important;

}

.oldcal-show_in_table-container_decoration:hover .oldcal-show_in_table-icon_decoration {

    color: white !important;
}

.oldcal-show_in_table-container_decoration:hover .oldcal-show_in_table-time_container_decoration {

    color: white;
}

.oldcal-show_in_table-container_decoration:hover .oldcal-show_in_table-content_container_decoration {

    color: white;
}

.oldcal-table_td_decoration {

    position: relative;
    height: 6vw;
    padding: 10;
    border: 1px solid #c9c9c9;
    padding-right: 10px;

}

.oldcal-month_other_month_day_decoration {
    background-color: red;
    color: #ffffff;
}

.oldcal-month_day_decoration {
    margin-bottom: 0px;
    position: absolute;
    height: 100%;
    width: 29px;
    left: 0px;
    top: 0px;
    padding-top: 17%;
    background-color: #36BBCE;
    border-bottom: 1px solid #ffffff;
    border-right: 1px solid black;
    text-align: center;
    user-select: none;
}
.oldcal-month_day_decoration:hover{
    background-color: red !important;
    color: white;
    cursor: pointer;
}
.oldcal-day_decoration {
    height: 70px;
}

.oldcal-day_decoration:hover {
    border: 1px solid red !important;
    border-radius: 3px;
    cursor: crosshair;

}

.oldcal-header_month_decoration {
    text-align: center;
    font-weight: 700;
    font-size: large;
    color: #36BBCE;
    cursor: default;
    user-select: none;
}

.oldcal-header_month_container_decoration {
    width: 100%;
    text-align: center;
}
.presentator_event-oldcal_decoration-description_container{
    position: relative;
    left: 0px;
    top: 0px;
    width: 75%;
    text-align: center;
    font-weight: bold;
    font-size: smaller;
    color: #00ff00;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin-left: 29px;
}
.presentator_event-oldcal_decoration{

}
.presentator_event-oldcal_decoration:hover{
    color: white !important;
    background-color: red !important;;
}
.presentator_event-oldcal_fullday_decoration{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: -0px;
    opacity: 0;
    margin-left: 29px;
}
.presentator_event-oldcal_decoration-time{
    height: 17px;
    border-top: 1px solid #ffffff;
    font-weight: bold;
    text-align: center;
}
.presentator_event-week_cover_decoration{
    background-color: red;
    position: absolute;
    width: 129px;
    height: 36px;
    left: 3px;
    opacity: 0.2;
    cursor: pointer;
}
.presentator_event-inlist_container_decoration{
    color: red !important;
}
.presentator_event-inlist_tr_decoration{
    font-size: smaller;
    color: red;
}
.presentator_event-inlist_tr_decoration:hover{
    background-color: red !important;
    color: white !important;
    cursor: pointer;
    user-select: none;
    border: 1px solid #337ab7;
    opacity: 1;
}
.tasks-expired_header{
    width: 100%;
    text-align: center;
    color: #36bbce;
    font-size: x-large;
    font-weight: 700;
    user-select: none;
    margin-bottom: 10px;
}

.glyphicon-button_with_text {
    top: -1px;
    font-weight: 800;
}

.menu-button {

}

.menu-button:focus {
    box-shadow: inset 0 5px 4px rgba(0, 0, 0, .15), 0 1px 2px rgba(0, 0, 0, .05);
    background-color: #286090 !important;
    border-color: #2d6494 !important;
    outline-style: none;
    outline-width: 0px !important;
    outline-color: none !important;
}

.menu-button-pressed {
    box-shadow: inset 0 5px 4px rgba(0, 0, 0, .15), 0 1px 2px rgba(0, 0, 0, .05);
    background-color: #286090;
    border-color: #2d6494;;
}

.menu-button-pressed:focus {
    box-shadow: inset 0 5px 4px rgba(0, 0, 0, .15), 0 1px 2px rgba(0, 0, 0, .05);
    background-color: #286090 !important;
    border-color: #2d6494 !important;
    outline-style: none;
    outline-width: 0px !important;
    outline-color: none !important;
}

.event-header-text-label{
    cursor: default;
    text-align: center;
    font-size: x-large;
    position: relative;
    color: red;
    user-select: none;

    font-weight: 600;
}
.event-text-label{
    cursor: default;
    text-align: center;
    font-size: larger;
    position: relative;
    color: #008000;
    user-select: none;
    margin-bottom: 20px;
}
.week-month_year-decoration {
    font-size: xx-small;
    user-select: none;
}

.week-dayofweek_date-decoration {
    font-size: x-small;
    text-align: center;
    font-weight: bold;
    cursor: default;
    user-select: none;
}

.week-hour-decoration {
    color: #969696;
    font-size: xx-small;
    padding-left: 2px;
    padding-right: 2px;
    cursor: default;
    border: 1px solid #ddd;
    user-select: none;
    cursor: crosshair;
}
.week-hour-decoration:hover{
    border: 1px solid red;
}
.week-add_event-decoration {

}

.week-add_event-decoration:hover {
    border: 1px solid red;
}

.week-event-decoration {
    height: 36px;
    width: 90px;
    border: 1px solid #ddd;


}

.week-event-decoration:hover {

}

.month-header_decoration {
    color: #337ab7;
    text-align: center;
    padding: 3px;
    font-weight: 600;
    cursor: pointer;
    user-select: none;
}

.month-header_decoration:hover {
    color: #ffffff !important;
    background-color: #337ab7;
}

.year-header_decoration {
    color: #337ab7;
    text-align: center;
    padding: 3px;
    font-weight: 600;
    font-size: x-large;
    user-select: none;
    cursor: default;
}

.month-day_of_week_decoration {
    color: #4f5050;
    text-align: center;
    font-weight: 600;
    font-size: small;
    padding-bottom: 5px;
    padding-top: 5px;
    user-select: none;

}

.month_day_choosen-decoration {
    border: 1px solid red !important;
    background-color: #1bff002e;
}

.month_day-decoration {
    border: 1px solid #c9c9c9;
    height: 40px;
    width: 40px;
}

.month_day-decoration:hover {
    border: 1px solid red;
}

.month_day-date-decoration {
    font-size: x-small;
    margin-bottom: 26px;
    font-weight: bolder;
    color: #36bbce;
    text-align: center;
    width: 16px;
    height: 12px;
    top: 0;
    right: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    cursor: pointer;

}

.month_day-date-decoration:hover {
    background-color: #36bbce;
    color: #ffffff;
}



.month_day-date-decoration_offday {
    color: red;
}

.month_day-date-decoration_today {
    background-color: #84FE67;
    color: #000000;
}

.events_count_calendar_label_container{
    position: relative;
    max-height: 0px;
    background-color: red;
    top: -13px;
    font-weight: bold;
    cursor: default;
    text-align: center;
    font-size: 12px;
}
.events_count_calendar_label{
    background-color: #337ab7;
    color: white;
}
.change_month_arrow {
    position: relative;
    font-size: 45pt;
    color: #c9c9c9;
    cursor: pointer;
}

.change_month_arrow:hover {
    color: #36bbce;
}

.change_month_arrow-left {
    left: 18px;
}

.change_month_arrow-right {
    left: -18px;
}

.events_frame_container-decoration {
}

.events_frame_header-decoration {
    width: 20%;
    border-top: 2px solid #337ab7;
    border-left: 2px solid #337ab7;
    border-right: 2px solid #337ab7;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    color: #337ab7;
    user-select: none;
    cursor: default;
}

.events_frame-decoration {
    border: 1px solid #337ab7;
    padding: 5px;
    min-width: 679px;
}
.events_frame-decoration:hover{
    opacity: 1 !important;
}
.events_add_event_button-decoration {

    font-size: 16px;
    color: #337ab7;
    background-color: #ffffff;
    padding: 4px;
    margin-right: 4px;
    margin-top: 3px;
    border-radius: 5px;
    border: 1px solid #337ab7;
    transition: 0.3s;
    cursor: pointer;
}

.events_add_event_button-decoration:hover {
    border: 1px solid #337ab7;
    background-color: #337ab7;
    color: #ffffff;

}

.events_date_label-decoration {
    padding: 4px;
    text-align: center;
    font-weight: 600;
    font-size: 16px;
    user-select: none;
    color: #428bca;
}

.event_in_frame-decoration {
    font-size: x-small;
}

.event_in_frame-decoration:hover {
    background-color: #337ab7 !important;
    color: white !important;
    cursor: pointer;
    user-select: none;
    margin-top: 3px;
    border: 1px solid #337ab7;
    opacity: 1 !important;

}

.event_in_frame-decoration:hover .event_in_frame_date-decoration {
    color: #ffffff;
}

.event_in_frame-decoration:hover span {
    color: #ffffff !important;
}

.event_in_frame-decoration:hover button span {
    color: inherit !important;
}

td.event_in_frame-td-decoration {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding: 5px;
}

.event_in_frame_date-decoration {
    color: #337ab7;
}

table.event_table-decoration {
    border-collapse: separate; /* Способ отображения границы */
    width: 100%;
    table-layout: fixed;
}

.event-call-button{
    margin: 3px;
    height: 25px;
    width: 25px;
}
.event-call-button-icon{
    color: inherit;
    left: -5px;
    top: -1px;
}
.event-call-button-icon-days_count{
    color: inherit;
    font-weight: 600;
    font-size: 10px;
    position: relative;
    top: 1px;
    left: -22px;
}
/*END CALENDAR*/
.event-oldcal-logscount{
    position: relative;
    top: -33px;
    left: 90%;
    background-color: white;
    border-radius: 20px;
    width: 11px;
    height: 11px;
    text-align: center;
    color: red;
}
.event-oldcal-logscount:hover{
    background-color: red;
    color: white;
}
.event-oldcal-chatmessagescount{
    position: relative;
    top: -43px;
    left: 79%;
    border-radius: 20px;
    width: 11px;
    text-align: center;
    color: red;
}
.event-oldcal-chatmessagescount:hover{
    color: white;
}
.event-mycalweek-haveevents{
    border: 1px dashed red !important;
}
.modalWindow {
    position: absolute;
    top: -1000px;
    left: 35%;
    width: 500px;
    height: 600px;

    background-color: white;
    opacity: 1;
    border-bottom-left-radius: 40px;
    border-top-left-radius: 40px;
    box-shadow: 0px 0px 45px 3px #000000;
    visibility: hidden;
    transition: 0.5s;
    z-index: 1001;
    text-align: right;
    overflow-y: auto;
    overflow-x: hidden;

}

.modalWindowHead {
    /*New modal Window*/
    position: static;
    width: 500px;
    margin-bottom: 20px;
    font-family: Arial;
    font-size: 130%;
    font-weight: bold;
    color: black;
    z-index: 1003;
}

.modalWindowBody {
    /*New modal Window*/
    padding-bottom: 40px;
    z-index: 1002;
}

.modalWindowFooter {
    /*New modal Window*/
    position: absolute;
    width: 530px;
    margin-left: -5%;
    margin-right: -10%;
    bottom: 0;
    padding-bottom: 10px;
    padding-top: 10px;
    top: 538px;
    height: 60px;
    z-index: 1003;
}

#modalWindowBackground {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    opacity: 0.0;
    z-index: 1000;
    visibility: hidden;
}

.closecross {

    position: static;
    padding-right: 10px;
    padding-top: 50px;

}

.textMiddle {
    text-align: center;
}

.interactive_element {
}

.interactive_element:hover {
    color: #5CB85C;
    cursor: pointer;
}

.eventInTable {
    display: block;
    text-align: center;
    padding-bottom: 2px;
    padding-top: 2px;
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 1px;
    margin-bottom: 1px;
    border: 5px;
    border-radius: 7px 7px;
    background-color: white;
    font: bold 12px arial, verdana;
    transition: 0.5s;
    -webkit-user-select: none;
    -moz-user-select: none;
}

.eventInTable:hover {
    cursor: pointer;
    color: red;

}

.value {
    width: 100%;
}

div.hiddenInputForm {
    display: none;
}

a {
    text-decoration: none;
    color: #000000;
}

a:hover {
    text-decoration: none;
    color: #000000;
}

.bootstrap-correct-icons {
    top: 0px;
}

.choosen-page a {
    color: #ffffff !important;
    font-weight: bold;
    background-color: #08192d !important;
    border-color: #08192d !important;

}

.choosen-page a:hover {
    box-shadow: none !important;
    bottom: 0px !important;
}

.vertical-center {
    text-align: center;
}

.pagination {
    margin-bottom: 0px;
    margin-top: 0px;
}

.pagination-text-color li a {
    color: #9d9d9d;

}

.pagination-text-color > li > a:hover {
    color: #000000;
    font-weight: bold;
    cursor: pointer;
    border-style: solid !important;
    border-color: #000000 !important;
    border-width: 1px !important;
    bottom: 2px;
    box-shadow: 1px 3px 0px -1px #000000;
    transition: 0.1s;
}
.pagination-sm>li>a{
    padding: 5px 9px;
}
.page_in_paginator{
    user-select: none;
}
/*NOTIFICATIONS*/
/*container:*/
.notification {
    position: fixed;
    left: 0px;
    bottom: -50px;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 10px;
    opacity: 0.0;
    text-align: center;
    z-index: 1005;

}

.notification-error {
    background-color: rgba(255, 0, 0, 0.75);
    color: #ffffff;
}

.notification-success {
    background-color: rgba(0, 255, 0, 0.75);
    color: #ffffff;
}

.notification-info {
    background-color: rgba(0, 0, 255, 0.75);
    color: #ffffff;
}

.notification-title {
    padding-top: 7px;
    font-size: large;
    user-select: none;

}

.notification-title-text {
    margin-left: 8px;
    vertical-align: text-top;
    user-select: none;
}

.notification-text {
    padding-top: 9px;
    font-size: small;
    user-select: none;
}

/*load animation*/
.cssload-container {
    width: 100%;
    text-align: center;
    margin: 0 auto;
    padding-left: 40%;

}

.cssload-speeding-wheel {
    width: 22px;
    height: 22px;
    border: 4px solid rgb(0, 0, 255);
    border-radius: 50%;
    border-left-color: transparent;
    border-right-color: transparent;
    float: left;
    text-align: center;
    left: 30%;
    margin-right: 7px;
    animation: cssload-spin 1000ms infinite linear;
    -o-animation: cssload-spin 1000ms infinite linear;
    -ms-animation: cssload-spin 1000ms infinite linear;
    -webkit-animation: cssload-spin 1000ms infinite linear;
    -moz-animation: cssload-spin 1000ms infinite linear;
}

@keyframes cssload-spin {
    100% {
        transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-o-keyframes cssload-spin {
    100% {
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-ms-keyframes cssload-spin {
    100% {
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes cssload-spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-moz-keyframes cssload-spin {
    100% {
        -moz-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.container-load-indicator-cover{
    position: absolute;
    background-color: white;
    opacity: 0.5;
    z-index: 1002;
}
.container-load-wheel-container{
    position: absolute !important;
    padding-left: 0 !important;
    width: 0% !important;
    z-index: 1003;
}
.container-load-wheel{
    width: 80px !important;
    height: 80px !important;
}
/*NOTIFICATIONS*/

/*POPUP FORM - AROWS: LEFT, RIGHT, TOP*/
.small_change_box_left {
    left: 150px;
    top: 200px;
    width: 550px;
    height: 245px;
    position: absolute;
    background: #428bca;
    opacity: 0;
    border: 3px solid #428bca;
    padding: 7px 7px 7px 7px;
    z-index: 1001;

    -webkit-box-shadow: 13px 10px 49px 5px rgba(0, 0, 0, 0.91);
    -moz-box-shadow: 13px 10px 49px 5px rgba(0, 0, 0, 0.91);
    box-shadow: 13px 10px 49px 5px rgba(0, 0, 0, 0.91);
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-bottom-radius: 25px;
    transform: scale(0.1);

    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;

}

.small_change_box_left:after, .small_change_box:before {
    right: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.small_change_box_left:after {
    border-color: rgba(136, 183, 213, 0);
    border-right-color: #428bca;
    border-width: 16px;
    margin-top: -16px;
}

.small_change_box_left:before {
    border-color: rgba(194, 225, 245, 0);
    border-right-color: #428bca;
    border-width: 22px;
    margin-top: -22px;
}

.small_change_box_right {
    left: 150px;
    top: 200px;
    width: 550px;
    height: 215px;
    position: absolute;
    background: #428bca;
    opacity: 0;
    border: 3px solid #428bca;
    padding: 7px 7px 7px 7px;
    z-index: 1001;

    -webkit-box-shadow: 13px 10px 49px 5px rgba(0, 0, 0, 0.91);
    -moz-box-shadow: 13px 10px 49px 5px rgba(0, 0, 0, 0.91);
    box-shadow: 13px 10px 49px 5px rgba(0, 0, 0, 0.91);
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-bottom-radius: 25px;
    transform: scale(0.1);

    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;

}

.small_change_box_right:after, .arrow_box:before {
    left: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.small_change_box_right:after {
    border-color: rgba(136, 183, 213, 0);
    border-left-color: #428bca;
    border-width: 16px;
    margin-top: -16px;
}

.small_change_box_right:before {
    border-color: rgba(194, 225, 245, 0);
    border-left-color: #428bca;
    border-width: 22px;
    margin-top: -22px;
}

.small_change_box_top {
    left: 150px;
    top: 200px;
    width: 550px;
    height: 215px;
    position: absolute;
    background: #428bca;
    opacity: 0;
    border: 3px solid #428bca;
    padding: 7px 7px 7px 7px;
    z-index: 1001;

    -webkit-box-shadow: 13px 10px 49px 5px rgba(0, 0, 0, 0.91);
    -moz-box-shadow: 13px 10px 49px 5px rgba(0, 0, 0, 0.91);
    box-shadow: 13px 10px 49px 5px rgba(0, 0, 0, 0.91);
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-bottom-radius: 25px;
    transform: scale(0.1);

    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;

}

.small_change_box_top:after, .arrow_box:before {
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.small_change_box_top:after {
    border-color: rgba(136, 183, 213, 0);
    border-bottom-color: #428bca;
    border-width: 16px;
    margin-left: -16px;
}

.small_change_box_top:before {
    border-color: rgba(194, 225, 245, 0);
    border-bottom-color: #428bca;
    border-width: 22px;
    margin-left: -22px;
}

.inside_block {
    padding: 10px 10px 10px 10px;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-bottom-radius: 15px;
}

.textarea_block {
    padding: 10px 10px 10px 10px;
}

.unscaled {
    transform: scale(1);
    opacity: 0.95;

}

div.light_border {
    z-index: 1001;
    position: absolute;
    border: 2px solid #428bca;
    -webkit-box-shadow: 5px 5px 45px 7px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 5px 5px 45px 7px rgba(0, 0, 0, 0.75);
    box-shadow: 5px 5px 45px 7px rgba(0, 0, 0, 0.75);
}

/**/
.company-icon:hover {
    cursor: pointer;
    color: #5CB85C;
}

.company-icon {
    margin-right: 6px;
    border: 1px transparent outset;
    border-radius: 8px;
}
.icon-red{
    color: red;
}
.icon-blue{
    color: #0000ff;
}
.modal-tr:hover {
    color: #ffffff;
    background-color: #428bca !important;
    cursor: pointer;

}

.text-in-table {
    font-size: small;
}

table.modal_window_list td {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    border: 1px solid #c5c9ca !important;
    padding: 5px 5px 5px 5px;
}

.datestamp {
    text-align: left;
    font-size: medium;
    left: 10px;
    position: relative;
    color: #337ab7;
    user-select: none;
}

div.header {
    text-align: left;
    font-weight: bold;
    margin-bottom: 5px;
    color: #428bca;
    user-select: none;
    cursor: default;

}

.gray_event_button {
    transition: 0.4s;
}

.gray_event_button:hover {
    background-color: #bbbbbb;
}

/*BEAUTY CHECKBOXES*/
/* Base for label styling */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
    position: absolute;
    left: -9999px;
}

[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
    position: relative;
    padding-left: 1.95em;
    cursor: pointer;
}

/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 1.25em;
    height: 1.25em;
    border: 2px solid #ccc;
    background: #fff;
    border-radius: 4px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, .1);
}

/* checked mark aspect */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
    content: '✔';
    position: absolute;
    top: .1em;
    left: .1em;
    font-size: 1.3em;
    line-height: 0.8;
    color: #09ad7e;
    transition: all .2s;
}

/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {
    opacity: 0;
    transform: scale(0);
}

[type="checkbox"]:checked + label:after {
    opacity: 1;
    transform: scale(1);
}

/* disabled checkbox */
[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before {
    box-shadow: none;
    border-color: #bbb;
    background-color: #ddd;
}

[type="checkbox"]:disabled:checked + label:after {
    color: #999;
}

[type="checkbox"]:disabled + label {
    color: #aaa;
}

/* accessibility */
[type="checkbox"]:checked:focus + label:before,
[type="checkbox"]:not(:checked):focus + label:before {
    border: 2px dotted blue;
}

/* hover style just for information */
label:hover:before {
    border: 2px solid #4778d9 !important;
}

.control-label{
    user-select: none;
}
.control-button{
    padding-right: 5px;

}
.control-button:hover{
    color: #428bca;
    font-weight: 900;
}



/* Copy control */
textarea.clipboard-copy{
    position: fixed;
    left: 10000px;

}
table.fixed-layouts{
    display: table;
    table-layout: fixed;
}

td.overflow-dotted {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}


/*CONTROL: STATS*/
td.neutral-text{
    font-family: initial;
    padding: 2px;
    color: #7d6666;
    user-select: none;
    cursor: default;
}


/*table decorations*/
table.main-table-decoration{
    table-layout: fixed;
    width: 100%;
    margin-top: 3px;
    margin-bottom: 3px;
    -webkit-user-select: none;
}
table.main-table-decoration>tr>td{
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
}
.main-table-header-row-decoration {
    font-weight: bold;
    font-size: small;
    background-color: #08192d;
    color: #ffffff;
}

.main-td-decoration td {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: x-small;
}
table.main-table-decoration tr > td {
    border: 1px solid black !important;
}
.small-text-in-table {
    font-size: x-small;
}
table.main-table-decoration td.active_content:hover {
        background: #1e90ff;
        color: #ffffff;
        cursor: pointer;
    }
td.td-remove{
    color: white;
    background-color: #d9534f;
    cursor: pointer;
}
td.td-remove:hover{
    background-color: #1e90ff;
}
.active-content:hover{
    background: #1e90ff;
    color: #ffffff;
    cursor: pointer;
}

.label-own-style{
    cursor: pointer;
    top: -2px;
    position: relative;
    user-select: none;
}
.label-own-style:hover{
    background-color: #5cb85c;
}

tr.little-selection{
    transition: 0.4s;
}
tr.little-selection:hover{
    background-color: rgba(0, 181, 255, 0.2) !important;
}
tr.modal-window-content{
    font-size: smaller;
    font-weight: bold;

}
tr.modal-window-content td{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}


/*Chat decoratios*/
.count-label{
    color: white;
    background-color: red;
    border-radius: 10px;
    font-size: 10px;
    position: relative;
    top: -5px;
    left: 5px;
}
.count-label:hover{
    background-color: white;
    color: red;

}
.hidden-count{
    visibility: hidden;
}

/*Переопределение Select2*/
.picker__select--year{
    height: auto !important;
}
.picker__select--month{
    height: auto !important;
}
/*Help page*/
.help-header{
    color: #428bca;
    font-weight: 600;
    font-size: x-large;
    margin-bottom: 10px;
}

.gototoparrow-container{
    top: 87%;
    left: 96%;
    position: fixed;
    background-color: #c1c1c1;
    height: 45px;
    width: 45px;
    text-align: center;
    border-radius: 18px;
    opacity: 0.5;
    transition: 0.3s;
    cursor: pointer;
}
.gototoparrow-container:hover{
    opacity: 1;
}
.gototoparrow{
    position: relative;
    top: 15%;
    font-size: 30px;
    color: #337ab7;
}